Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

frontend-format:
  run: bun run format --write {staged_files} && git add {staged_files}
  stage_fixed: true

frontend-lint:
  run: bun run biome lint --no-errors-on-unmatched {staged_files}

backend-format:
  run: cargo fmt
  stage_fixed: true

backend-lint:
  run: cargo clippy --all-targets --all-features -- -D warnings

feat(tls-inspector): add SSL / TLS Inspector (MVP) (#333)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/tls_inspect.rs
  src/lib/services/pages.ts
  src/lib/services/tls.ts
  src/route-tree.gen.ts
  src/routes/tls-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(webhook-receiver): add Webhook Receiver (MVP)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/webhook.rs
  src/lib/services/pages.ts
  src/lib/services/webhook.ts
  src/route-tree.gen.ts
  src/routes/webhook-receiver.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(webhook-receiver): add Webhook Receiver (MVP) (#335)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/webhook.rs
  src/lib/services/pages.ts
  src/lib/services/webhook.ts
  src/route-tree.gen.ts
  src/routes/webhook-receiver.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

refactor(pages): add Converters category and rename TLS Inspector
  src/lib/services/pages.ts
  src/routes/tls-inspector.tsx
Due: frontend-format, frontend-lint

refactor(pages): add Converters category and rename TLS Inspector (#336)
  src/lib/services/pages.ts
  src/routes/tls-inspector.tsx
Due: frontend-format, frontend-lint

feat(layout): add RelatedTools component and cross-link 8 network/converter tools
  src/lib/components/layout/index.ts
  src/lib/components/layout/related-tools.tsx
  src/routes/cidr-calculator.tsx
  src/routes/date-timestamp-converter.tsx
  src/routes/dns-lookup.tsx
  src/routes/ip-converter.tsx
  src/routes/rest-client.tsx
  src/routes/tls-inspector.tsx
  src/routes/webhook-receiver.tsx
  src/routes/x509-decoder.tsx
Due: frontend-format, frontend-lint

feat(layout): add RelatedTools component and cross-link 8 network/converter tools (#337)
  src/lib/components/layout/index.ts
  src/lib/components/layout/related-tools.tsx
  src/routes/cidr-calculator.tsx
  src/routes/date-timestamp-converter.tsx
  src/routes/dns-lookup.tsx
  src/routes/ip-converter.tsx
  src/routes/rest-client.tsx
  src/routes/tls-inspector.tsx
  src/routes/webhook-receiver.tsx
  src/routes/x509-decoder.tsx
Due: frontend-format, frontend-lint

feat(file-inspector): add File Inspector and Files category
  bun.lock
  package.json
  src-tauri/capabilities/default.json
  src-tauri/src/file_inspect.rs
  src-tauri/src/lib.rs
  src/lib/services/file-inspect.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/file-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(file-inspector): add File Inspector and Files category (#338)
  bun.lock
  package.json
  src-tauri/capabilities/default.json
  src-tauri/src/file_inspect.rs
  src-tauri/src/lib.rs
  src/lib/services/file-inspect.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/file-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(hex-editor): add Hex Editor / Viewer under Files
  src-tauri/capabilities/default.json
  src-tauri/src/hex_editor.rs
  src-tauri/src/lib.rs
  src/lib/services/hex-editor.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/hex-editor.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(hex-editor): add Hex Editor / Viewer under Files (#339)
  src-tauri/capabilities/default.json
  src-tauri/src/hex_editor.rs
  src-tauri/src/lib.rs
  src/lib/services/hex-editor.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/hex-editor.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(archive-inspector): add Archive Inspector / Extractor under Files
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/archive_inspect.rs
  src-tauri/src/lib.rs
  src/lib/services/archive.test.ts
  src/lib/services/archive.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/archive-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(archive-inspector): add Archive Inspector / Extractor under Files (#340)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/archive_inspect.rs
  src-tauri/src/lib.rs
  src/lib/services/archive.test.ts
  src/lib/services/archive.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/archive-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(path-tool): add Path Manipulation Tool under Files
  src/lib/services/pages.ts
  src/lib/services/path-tool.ts
  src/route-tree.gen.ts
  src/routes/path-tool.tsx
Due: frontend-format, frontend-lint

feat(path-tool): add Path Manipulation Tool under Files (#341)
  src/lib/services/pages.ts
  src/lib/services/path-tool.ts
  src/route-tree.gen.ts
  src/routes/path-tool.tsx
Due: frontend-format, frontend-lint

feat(csv-tool): add CSV/TSV Tool under Files
  bun.lock
  package.json
  src/lib/services/csv-tool.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/csv-tool.tsx
Due: frontend-format, frontend-lint

feat(csv-tool): add CSV/TSV Tool under Files (#343)
  bun.lock
  package.json
  src/lib/services/csv-tool.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/csv-tool.tsx
Due: frontend-format, frontend-lint

feat(encoding-converter): add File Encoding Converter under Files
  bun.lock
  package.json
  src/lib/services/encoding-converter.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/encoding-converter.tsx
Due: frontend-format, frontend-lint

feat(encoding-converter): add File Encoding Converter under Files (#342)
  bun.lock
  package.json
  src/lib/services/encoding-converter.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/encoding-converter.tsx
Due: frontend-format, frontend-lint

feat(test-data-generator): add Test Data File Generator under Files
  bun.lock
  package.json
  src/lib/services/pages.ts
  src/lib/services/test-data.ts
  src/route-tree.gen.ts
  src/routes/test-data-generator.tsx
Due: frontend-format, frontend-lint

feat(test-data-generator): add Test Data File Generator under Files (#344)
  bun.lock
  package.json
  src/lib/services/pages.ts
  src/lib/services/test-data.ts
  src/route-tree.gen.ts
  src/routes/test-data-generator.tsx
Due: frontend-format, frontend-lint

feat(hash-generator): add Batch File Hashing tab
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/hash_batch.rs
  src-tauri/src/lib.rs
  src/lib/services/encoders/hash-batch.ts
  src/lib/services/encoders/index.ts
  src/lib/services/pages.ts
  src/routes/hash-generator.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(hash-generator): add Batch File Hashing tab (#347)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/hash_batch.rs
  src-tauri/src/lib.rs
  src/lib/services/encoders/hash-batch.ts
  src/lib/services/encoders/index.ts
  src/lib/services/pages.ts
  src/routes/hash-generator.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(file-watch): add File Watch under Files
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/file_watch.rs
  src-tauri/src/lib.rs
  src/lib/services/file-watch.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/file-watch.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(file-watch): add File Watch under Files (#349)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/file_watch.rs
  src-tauri/src/lib.rs
  src/lib/services/file-watch.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/file-watch.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(duplicate-finder): add Duplicate File Finder under Files
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/duplicate_finder.rs
  src-tauri/src/lib.rs
  src/lib/services/duplicate-finder.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/duplicate-finder.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(duplicate-finder): add Duplicate File Finder under Files (#345)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/duplicate_finder.rs
  src-tauri/src/lib.rs
  src/lib/services/duplicate-finder.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/duplicate-finder.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(folder-tree-visualizer): add Folder Tree Visualizer under Files
  src-tauri/Cargo.toml
  src-tauri/src/folder_tree.rs
  src-tauri/src/lib.rs
  src/lib/services/folder-tree.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/folder-tree-visualizer.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(folder-tree-visualizer): add Folder Tree Visualizer under Files (#346)
  src-tauri/Cargo.toml
  src-tauri/src/folder_tree.rs
  src-tauri/src/lib.rs
  src/lib/services/folder-tree.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/folder-tree-visualizer.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(drive-info): add Drive Info under Files
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/drive_info.rs
  src-tauri/src/lib.rs
  src/lib/services/drive-info.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/drive-info.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(drive-info): add Drive Info under Files (#348)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/drive_info.rs
  src-tauri/src/lib.rs
  src/lib/services/drive-info.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/drive-info.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

refactor(pages): rebalance categories and strengthen file-utility cross-links
  src/lib/services/pages.ts
  src/routes/drive-info.tsx
  src/routes/duplicate-finder.tsx
  src/routes/file-watch.tsx
  src/routes/folder-tree-visualizer.tsx
Due: frontend-format, frontend-lint

refactor(pages): rebalance categories and strengthen file-utility cross-links (#350)
  src/lib/services/pages.ts
  src/routes/drive-info.tsx
  src/routes/duplicate-finder.tsx
  src/routes/file-watch.tsx
  src/routes/folder-tree-visualizer.tsx
Due: frontend-format, frontend-lint

refactor(ui): unify layouts and extract shared primitives
  src/lib/components/form/form-checkbox.tsx
  src/lib/components/form/form-folder-picker.tsx
  src/lib/components/form/form-glob-filters.tsx
  src/lib/components/form/index.ts
  src/lib/components/layout/definition-list.tsx
  src/lib/components/layout/index.ts
  src/lib/components/layout/master-detail-layout.tsx
  src/lib/components/layout/subsection-label.tsx
  src/lib/services/http-status.ts
  src/routes/archive-inspector.tsx
  src/routes/drive-info.tsx
  src/routes/duplicate-finder.tsx
  src/routes/escape-tool.tsx
  src/routes/file-inspector.tsx
  src/routes/folder-tree-visualizer.tsx
  src/routes/hash-generator.tsx
  src/routes/http-status-codes.tsx
  src/routes/image-converter.tsx
  src/routes/jwt-decoder.tsx
  src/routes/mime-types.tsx
  src/routes/network-interfaces.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/tls-inspector.tsx
  src/routes/webhook-receiver.tsx
  src/routes/x509-decoder.tsx
Due: frontend-format, frontend-lint

feat(shell): unify Cmd+Enter at ToolShell level via primaryAction
  src/lib/components/action/action-button.tsx
  src/lib/components/shell/tool-shell.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/lorem-ipsum.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/uuid-generator.tsx
Due: none

refactor(ui): normalize button and empty-state copy
  src/routes/archive-inspector.tsx
  src/routes/encoding-converter.tsx
  src/routes/file-inspector.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/hex-editor.tsx
  src/routes/lorem-ipsum.tsx
  src/routes/network-scanner.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/test-data-generator.tsx
Due: none

refactor(regex-tester): move right-side rail into horizontal split
  src/routes/regex-tester.tsx
Due: none

refactor(ui): unify CardTitle styling and toolbar placement
  src/routes/drive-info.tsx
  src/routes/jwt-decoder.tsx
Due: none

refactor(layout): adopt horizontal SplitPane for paired input/output
  src/routes/encoding-converter.tsx
  src/routes/string-compressor.tsx
Due: none

refactor(ui): app-wide visual and interaction consistency rollout (#351)
  src/lib/components/action/action-button.tsx
  src/lib/components/form/form-checkbox.tsx
  src/lib/components/form/form-folder-picker.tsx
  src/lib/components/form/form-glob-filters.tsx
  src/lib/components/form/index.ts
  src/lib/components/layout/definition-list.tsx
  src/lib/components/layout/index.ts
  src/lib/components/layout/master-detail-layout.tsx
  src/lib/components/layout/subsection-label.tsx
  src/lib/components/shell/tool-shell.tsx
  src/lib/services/http-status.ts
  src/routes/archive-inspector.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/drive-info.tsx
  src/routes/duplicate-finder.tsx
  src/routes/encoding-converter.tsx
  src/routes/escape-tool.tsx
  src/routes/file-inspector.tsx
  src/routes/folder-tree-visualizer.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/hash-generator.tsx
  src/routes/hex-editor.tsx
  src/routes/http-status-codes.tsx
  src/routes/image-converter.tsx
  src/routes/jwt-decoder.tsx
  src/routes/lorem-ipsum.tsx
  src/routes/mime-types.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/string-compressor.tsx
  src/routes/test-data-generator.tsx
  src/routes/tls-inspector.tsx
  src/routes/uuid-generator.tsx
  src/routes/webhook-receiver.tsx
  src/routes/x509-decoder.tsx
Due: frontend-format, frontend-lint

Path conditions:
  frontend-format: any of: *.{ts,js,svelte,json,css,md,html}, but not: node_modules|bun.lock|.svelte-kit
  frontend-lint: any of: *.{ts,js,svelte}, but not: node_modules|.svelte-kit
  backend-format: any of: *.rs and ^src\-tauri/
  backend-lint: any of: *.rs and ^src\-tauri/
