Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

fix(tsconfig): include react/react-dom types and src/**/*.ts in compile graph (#266)
  tsconfig.json
Due: frontend-format

fix(ui)(select): default SelectContent position to popper
  src/lib/components/ui/select.tsx
Due: none

fix(tauri)(macos): guard decorum create_overlay_titlebar to Windows
  src-tauri/src/lib.rs
Due: backend-format, backend-lint

fix(tauri)(linux): cfg-gate decorum trait import and main_window binding
  src-tauri/src/lib.rs
Due: backend-format, backend-lint

fix: restore mouse interaction on Select dropdowns and Title Bar Command (#268)
  src-tauri/src/lib.rs
  src/lib/components/ui/select.tsx
Due: backend-format, backend-lint

fix(ui)(resizable): restore GripVertical icon on withHandle
  src/lib/components/ui/resizable.tsx
Due: none

fix(ui)(dialog): restore solid overlay without backdrop blur
  src/lib/components/ui/dialog.tsx
Due: none

fix(editor)(code): use aria-pressed for ToggleGroupItem active style
  src/lib/components/editor/code/code-editor.tsx
Due: none

fix(ui)(toaster): drop richColors to avoid double styling
  src/routes/__root.tsx
Due: none

fix(ui)(tabs): show focus-visible ring on TabsContent
  src/lib/components/ui/tabs.tsx
Due: none

fix(ui)(list-item-button): default tabIndex=-1 for composite roles
  src/lib/components/ui/list-item-button.tsx
Due: none

fix(ui): six post-migration bug fixes (Phase A of UI polish) (#269)
  src/lib/components/editor/code/code-editor.tsx
  src/lib/components/ui/dialog.tsx
  src/lib/components/ui/list-item-button.tsx
  src/lib/components/ui/resizable.tsx
  src/lib/components/ui/tabs.tsx
  src/routes/__root.tsx
Due: none

refactor(css)(animations): drop unused keyframes and extend reduced-motion gate
  src/app.css
Due: frontend-format

refactor(css)(animations): drop unused keyframes and extend reduced-motion gate (#270)
  src/app.css
Due: frontend-format

refactor(ui): migrate primitives from forwardRef to plain functions
  src/lib/components/ui/checkbox.tsx
  src/lib/components/ui/radio-group.tsx
  src/lib/components/ui/select.tsx
  src/lib/components/ui/slider.tsx
  src/lib/components/ui/textarea.tsx
  src/lib/components/ui/toggle-group.tsx
Due: none

refactor(ui)(dropdown-menu): drop align="start" default
  src/lib/components/ui/dropdown-menu.tsx
Due: none

refactor(ui)(accordion): use one rotating chevron icon
  src/lib/components/ui/accordion.tsx
Due: none

fix(ui)(sheet): restore solid overlay without backdrop blur
  src/lib/components/ui/sheet.tsx
Due: none

refactor(ui): realign primitives with shadcn radix-nova registry (#271)
  src/lib/components/ui/accordion.tsx
  src/lib/components/ui/checkbox.tsx
  src/lib/components/ui/dropdown-menu.tsx
  src/lib/components/ui/radio-group.tsx
  src/lib/components/ui/select.tsx
  src/lib/components/ui/sheet.tsx
  src/lib/components/ui/slider.tsx
  src/lib/components/ui/textarea.tsx
  src/lib/components/ui/toggle-group.tsx
Due: none

refactor(routes): use status primitives for empty states
  src/routes/diff-viewer.tsx
  src/routes/markdown-editor.tsx
Due: none

refactor(routes)(network-interfaces): use ErrorDisplay for failure state
  src/routes/network-interfaces.tsx
Due: none

refactor(routes): align empty / error surfaces with shared status primitives (#272)
  src/routes/diff-viewer.tsx
  src/routes/markdown-editor.tsx
  src/routes/network-interfaces.tsx
Due: none

refactor(formatter-tabs): add EmbeddedEmptyState to format/query output panes
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
Due: none

refactor(formatter-tabs): add EmbeddedEmptyState to format/query output panes (#273)
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
Due: none

refactor(css): drop custom .focus-ring class for v4 utilities
  src/app.css
  src/routes/index.tsx
Due: frontend-format

fix(ui)(sidebar): collapse contradictory ltr/rtl translate
  src/lib/components/ui/sidebar.tsx
Due: none

refactor(ui): use theme text tokens for matching inline sizes
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/regex/railroad-view.tsx
Due: none

refactor(css): consolidate inline sizes onto theme tokens and drop focus-ring class (#274)
  src/app.css
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/regex/railroad-view.tsx
  src/lib/components/ui/sidebar.tsx
  src/routes/index.tsx
Due: frontend-format

fix(a11y)(routes): announce generator results via aria-live regions
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/uuid-generator.tsx
Due: none

fix(a11y)(routes): announce generator results via aria-live regions (#275)
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/uuid-generator.tsx
Due: none

refactor(formatter-tabs): add EmbeddedEmptyState to convert/generate output panes
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/template/convert-tab.tsx
Due: none

refactor(formatter-tabs): add EmbeddedEmptyState to convert/generate output panes (#276)
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/template/convert-tab.tsx
Due: none

feat(form)(form-input): add trailing slot and migrate url-encoder
  src/lib/components/form/form-input.tsx
  src/routes/url-encoder.tsx
Due: none

feat(form)(form-input): add trailing slot and migrate url-encoder (#277)
  src/lib/components/form/form-input.tsx
  src/routes/url-encoder.tsx
Due: none

feat(status): introduce EmptyOutputPane and LiveStatusRegion primitives
  src/lib/components/status/empty-output-pane.tsx
  src/lib/components/status/index.ts
  src/lib/components/status/live-status-region.tsx
Due: frontend-format, frontend-lint

refactor: migrate 20 callsites to EmptyOutputPane + LiveStatusRegion
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/template/convert-tab.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/hash-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/uuid-generator.tsx
Due: none

refactor(status): consolidate empty-output and live-region patterns into primitives (#278)
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/status/empty-output-pane.tsx
  src/lib/components/status/index.ts
  src/lib/components/status/live-status-region.tsx
  src/lib/components/template/convert-tab.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/hash-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/uuid-generator.tsx
Due: frontend-format, frontend-lint

refactor(hooks): introduce useDocumentTitle and unify route titles
  src/lib/components/template/tabbed-formatter-page.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-document-title.ts
  src/routes/base64-encoder.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/cron-expression-builder.tsx
  src/routes/curl-builder.tsx
  src/routes/diff-viewer.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/hash-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/markdown-editor.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/settings.tsx
  src/routes/sql-formatter.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/string-case-converter.tsx
  src/routes/url-encoder.tsx
  src/routes/uuid-generator.tsx
Due: frontend-format, frontend-lint

refactor(hooks): introduce useDocumentTitle and unify route titles (#279)
  src/lib/components/template/tabbed-formatter-page.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-document-title.ts
  src/routes/base64-encoder.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/cron-expression-builder.tsx
  src/routes/curl-builder.tsx
  src/routes/diff-viewer.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/hash-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/markdown-editor.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/settings.tsx
  src/routes/sql-formatter.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/string-case-converter.tsx
  src/routes/url-encoder.tsx
  src/routes/uuid-generator.tsx
Due: frontend-format, frontend-lint

refactor(hooks): introduce useClipboardActions and migrate formatter tabs
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-clipboard-actions.ts
Due: frontend-format, frontend-lint
