Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

fix: add #[cfg(unix)] to IpNextHeaderProtocols import
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: add #[cfg(unix)] to IpNextHeaderProtocols import (#104)
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: resolve unreachable code in privileges setup for Windows
  src-tauri/src/network/privileges.rs
Due: backend-format, backend-lint

fix: resolve unreachable code in privileges setup for Windows (#105)
  src-tauri/src/network/privileges.rs
Due: backend-format, backend-lint

fix: make pnet a unix-only dependency to fix Windows build
  src-tauri/Cargo.toml
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: make pnet a unix-only dependency to fix Windows build (#106)
  src-tauri/Cargo.toml
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: move pnet unix-only section to end of Cargo.toml
  src-tauri/Cargo.toml
Due: none

fix: move pnet unix-only section to end of Cargo.toml (#107)
  src-tauri/Cargo.toml
Due: none

fix: add conditional compilation for ARP scan on Windows
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: add conditional compilation for ARP scan on Windows (#108)
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: add #[cfg(unix)] to remaining ARP scan helper functions
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: add #[cfg(unix)] to remaining ARP scan helper functions (#109)
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: add #[cfg(unix)] to unused imports and functions on Windows
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/oui.rs
Due: backend-format, backend-lint

fix: add #[cfg(unix)] to unused imports and functions on Windows (#110)
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/oui.rs
Due: backend-format, backend-lint

feat: add application settings with font customization and window state persistence
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/menu.rs
  src-tauri/src/settings.rs
  src/app.css
  src/lib/components/layout/app-sidebar.svelte
  src/lib/components/layout/command-palette.svelte
  src/lib/services/pages.ts
  src/lib/services/settings.ts
  src/routes/+layout.svelte
  src/routes/settings/+page.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(settings): add monospace font filtering and Google Fonts integration
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/lib/services/google-fonts.ts
  src/lib/services/settings.ts
  src/routes/settings/+page.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

deps: update frontend and backend dependencies
  bun.lock
  package.json
  scripts/build-sidecar.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src/lib/components/editor/code/code-editor-wrapper.svelte
  src/lib/types/ajv-formats.d.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

deps: update frontend and backend dependencies (#155)
  bun.lock
  package.json
  scripts/build-sidecar.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src/lib/components/editor/code/code-editor-wrapper.svelte
  src/lib/types/ajv-formats.d.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

deps: update frontend and backend dependencies
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ast/sql.rs
  src-tauri/src/bin/worker.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/ws_discovery.rs
Due: frontend-format, backend-format, backend-lint

deps: include major upgrades in backend update script
  bun.lock
  package.json
Due: frontend-format

fix(deps): upgrade @vizel to 1.3.1 and declare tiptap peers explicitly
  bun.lock
  package.json
  vite.config.js
Due: frontend-format, frontend-lint

fix(deps): pin tailwindcss to 4.2.2 to avoid @plugin resolution regression
  bun.lock
  package.json
Due: frontend-format

deps: update frontend and backend dependencies (#156)
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ast/sql.rs
  src-tauri/src/bin/worker.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/ws_discovery.rs
  vite.config.js
Due: frontend-format, frontend-lint, backend-format, backend-lint

chore: release v0.0.6
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: frontend-format

chore: release v0.0.6 (#158)
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: frontend-format

fix(release): write PR body via temp file to preserve markdown
  scripts/release.ts
Due: frontend-format, frontend-lint

fix(release): write PR body via temp file to preserve markdown (#159)
  scripts/release.ts
Due: frontend-format, frontend-lint

fix(settings): propagate font family/size to all Tailwind utilities
  src/app.css
  src/lib/services/settings.ts
Due: frontend-format, frontend-lint

docs(readme): document settings file location per platform
  README.md
Due: frontend-format

feat: add application settings with font customization and window state persistence (#121)
  README.md
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/menu.rs
  src-tauri/src/settings.rs
  src/app.css
  src/lib/components/layout/app-sidebar.svelte
  src/lib/components/layout/command-palette.svelte
  src/lib/services/google-fonts.ts
  src/lib/services/pages.ts
  src/lib/services/settings.ts
  src/routes/+layout.svelte
  src/routes/settings/+page.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

ci: migrate from Dependabot to Renovate
  .github/dependabot.yml
  .github/release.yml
  .github/renovate.json5
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/auto-merge-renovate.yml
Due: none

ci: use Renovate built-in auto-merge instead of custom workflow
  .github/renovate.json5
  .github/workflows/auto-merge-renovate.yml
Due: none

ci: migrate from Dependabot to Renovate (#161)
  .github/dependabot.yml
  .github/release.yml
  .github/renovate.json5
  .github/workflows/auto-merge-dependabot.yml
Due: none

chore: gitignore docs/superpowers brainstorming and plan artifacts
  .gitignore
Due: none

feat(ui): add slider primitive
  src/lib/components/ui/slider/index.ts
  src/lib/components/ui/slider/slider.svelte
Due: frontend-format, frontend-lint

feat(ui): add list-item-button primitive
  src/lib/components/ui/list-item-button/index.ts
  src/lib/components/ui/list-item-button/list-item-button.svelte
Due: frontend-format, frontend-lint
