Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, backend-format

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: "*.{ts,js,svelte,json,css,md,html}"
      exclude: "node_modules|bun.lock|.svelte-kit"
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    backend-format:
      root: "src-tauri/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true

chore: add pre-commit hooks with lefthook (#36)
  .lefthook.yml
  bun.lock
  package.json
Due: frontend-format

feat(ui): group Dashboard tools by category
  src/lib/components/layout/app-sidebar.svelte
  src/lib/services/pages.ts
  src/routes/+page.svelte
Due: frontend-format

fix(ui): enable window dragging on title bar
  src/lib/components/layout/title-bar.svelte
Due: frontend-format

fix(ui): enable window dragging on title bar (#37)
  src/lib/components/layout/title-bar.svelte
Due: frontend-format

refactor: simplify guidelines and remove linter duplicates
  .claude/rules/rust.md
  .claude/rules/typescript.md
  biome.json
Due: frontend-format

refactor: simplify guidelines and remove linter duplicates (#39)
  .claude/rules/rust.md
  .claude/rules/typescript.md
  biome.json
Due: frontend-format

chore(ci): update action versions to latest
  .github/actions/setup-tauri-deps/action.yml
  .github/workflows/create-release-tag.yml
Due: none

perf(ci): optimize Rust build with sccache and remove redundant build step
  .github/actions/setup-rust-tauri/action.yml
  .github/workflows/ci.yml
Due: none

perf(ci): optimize Rust build and update action versions (#40)
  .github/actions/setup-rust-tauri/action.yml
  .github/actions/setup-tauri-deps/action.yml
  .github/workflows/ci.yml
  .github/workflows/create-release-tag.yml
Due: none

fix(sql): improve AST parser position tracking for editor-tree sync
  scripts/validate-pages.ts
  src-tauri/src/ast/sql.rs
  src/lib/services/pages.ts
  src/routes/hash-generator/+page.svelte
  src/routes/sql-formatter/+page.svelte
  src/routes/sql-formatter/tabs/format-tab.svelte
  src/routes/sql-formatter/tabs/index.ts
Due: frontend-format, backend-format

fix: remove bcrypt-generator tabs from pages.ts
  src/lib/services/pages.ts
Due: frontend-format

fix: move helper function to top of test module
  src-tauri/src/ast/sql.rs
Due: backend-format

fix(sql): improve AST parser position tracking for editor-tree sync (#41)
  scripts/validate-pages.ts
  src-tauri/src/ast/sql.rs
  src/lib/services/pages.ts
  src/routes/hash-generator/+page.svelte
  src/routes/sql-formatter/+page.svelte
  src/routes/sql-formatter/tabs/format-tab.svelte
  src/routes/sql-formatter/tabs/index.ts
Due: frontend-format, backend-format

feat: add cryptographic generators (BCrypt, SSH, GPG)
  scripts/validate-pages.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/generators/bcrypt.rs
  src-tauri/src/generators/cli.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/mod.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/lib.rs
  src/lib/components/layout/app-sidebar.svelte
  src/lib/components/options/index.ts
  src/lib/components/options/option-input.svelte
  src/lib/components/options/option-slider.svelte
  src/lib/components/options/options-info.svelte
  src/lib/services/generators.ts
  src/routes/bcrypt-generator/+page.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
Due: frontend-format, backend-format

fix(scripts): show all pages in validation summary
  scripts/validate-pages.ts
Due: frontend-format

chore: add lint commands to lefthook and fix clippy warnings
  .lefthook.yml
  src-tauri/src/generators/bcrypt.rs
  src-tauri/src/generators/cli.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/mod.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/lib.rs
  src/lib/services/generators.ts
Due: frontend-format, backend-format

feat: add cryptographic generators (BCrypt, SSH, GPG) (#42)
  .lefthook.yml
  scripts/validate-pages.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/generators/bcrypt.rs
  src-tauri/src/generators/cli.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/mod.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/lib.rs
  src/lib/components/layout/app-sidebar.svelte
  src/lib/components/options/index.ts
  src/lib/components/options/option-input.svelte
  src/lib/components/options/option-slider.svelte
  src/lib/components/options/options-info.svelte
  src/lib/services/generators.ts
  src/routes/bcrypt-generator/+page.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
Due: frontend-format, backend-format

refactor(rust): use ownership pattern instead of #[allow] attributes
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/lib.rs
Due: backend-format

refactor(rust): use ownership pattern instead of #[allow] attributes (#43)
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/lib.rs
Due: backend-format

fix(ci): build sidecar binaries for each platform
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src-tauri/.gitignore
  src-tauri/binaries/bcrypt-worker-aarch64-apple-darwin
Due: none

fix(ci): create placeholder before building sidecar
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(bundle): replace MSI with NSIS and refactor sidecar build
  .github/actions/build-sidecar/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: frontend-format

fix(bundle): replace MSI with NSIS and refactor sidecar build (#45)
  .github/actions/build-sidecar/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: frontend-format

fix(ci): clean nightly assets and use fixed version
  .github/workflows/release.yml
Due: none

fix(ci): clean nightly assets and use fixed version (#46)
  .github/workflows/release.yml
Due: none

fix(ci): use version-commit format for nightly builds
  .github/workflows/release.yml
Due: none

fix(ci): use version-commit format for nightly builds (#47)
  .github/workflows/release.yml
Due: none

fix(ci): delete and recreate nightly release for correct commit info
  .github/workflows/release.yml
Due: none

fix(ci): delete and recreate nightly release for correct commit info (#48)
  .github/workflows/release.yml
Due: none

chore: release v0.0.4
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: frontend-format

chore: release v0.0.4 (#49)
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: frontend-format

chore: add PR auto-labeler and update documentation
  .claude/rules/general/pr.md
  .claude/rules/general/release.md
  .github/release.yml
  .github/workflows/pr-labeler.yml
  scripts/build-sidecar.ts
Due: frontend-format

chore: add PR auto-labeler and update documentation (#50)
  .claude/rules/general/pr.md
  .claude/rules/general/release.md
  .github/release.yml
  .github/workflows/pr-labeler.yml
  scripts/build-sidecar.ts
Due: frontend-format

fix(docs): replace invalid JS syntax in layouts.md examples
  .claude/rules/svelte/layouts.md
Due: frontend-format

fix(docs): replace invalid JS syntax in layouts.md examples (#51)
  .claude/rules/svelte/layouts.md
Due: frontend-format

feat(markdown-editor): add tree view support and fix TOC navigation
  src/app.css
  src/lib/components/editor/code-editor-wrapper.svelte
  src/lib/components/editor/code-editor.svelte
  src/lib/components/editor/tree-view.svelte
  src/lib/services/ast/parser.ts
  src/lib/services/markdown.ts
  src/routes/markdown-editor/+page.svelte
Due: frontend-format
