Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

frontend-format:
  run: bun run format --write {staged_files} && git add {staged_files}
  stage_fixed: true

frontend-lint:
  run: bun run biome lint --no-errors-on-unmatched {staged_files}

backend-format:
  run: cargo fmt
  stage_fixed: true

backend-lint:
  run: cargo clippy --all-targets --all-features -- -D warnings

feat(theme): introduce TypeScript-first design token SSOT (#293)
  package.json
  scripts/build-tokens.ts
  src/app.css
  src/lib/components/editor/code/code-editor-wrapper.tsx
  src/lib/theme/tokens.generated.css
  src/lib/theme/tokens.ts
Due: frontend-format, frontend-lint

refactor(sidebar): drop theme cycle button, demote Collapse to muted utility
  src/lib/components/layout/app-sidebar.tsx
Due: none

refactor(title-bar): shrink Cmd+K palette to compact closed state
  src/lib/components/layout/title-bar-command.tsx
Due: none

refactor(chrome): simplify sidebar footer + shrink Cmd+K palette (#294)
  src/lib/components/layout/app-sidebar.tsx
  src/lib/components/layout/title-bar-command.tsx
Due: none

refactor(ui): introduce IconTooltip primitive and migrate 8 call sites
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/layout/nav-buttons.tsx
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/components/ui/icon-tooltip.tsx
  src/routes/jwt-decoder.tsx
  src/routes/markdown-editor.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/url-encoder.tsx
Due: none

refactor(ui): introduce IconTooltip primitive and migrate 8 call sites (#295)
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/layout/nav-buttons.tsx
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/components/ui/icon-tooltip.tsx
  src/routes/jwt-decoder.tsx
  src/routes/markdown-editor.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/url-encoder.tsx
Due: none

fix(sidebar): expand `w-(--sidebar-width-icon)` shorthand to var() form
  src/lib/components/ui/sidebar.tsx
Due: none

fix(sidebar): expand `w-(--sidebar-width-icon)` shorthand to var() form (#296)
  src/lib/components/ui/sidebar.tsx
Due: none

feat(sidebar): add Recent tools section driven by route navigation
  src/lib/components/layout/app-sidebar.tsx
  src/lib/stores/index.ts
  src/lib/stores/recent-tools.ts
Due: frontend-format, frontend-lint

feat(sidebar): add Recent tools section driven by route navigation (#297)
  src/lib/components/layout/app-sidebar.tsx
  src/lib/stores/index.ts
  src/lib/stores/recent-tools.ts
Due: frontend-format, frontend-lint

feat(sidebar): add Pinned tools + right-click context menu (Pin/Unpin)
  src/lib/components/layout/app-sidebar.tsx
  src/lib/stores/index.ts
  src/lib/stores/tool-pins.ts
Due: frontend-format, frontend-lint

feat(sidebar): add Pinned tools + right-click context menu (Pin/Unpin) (#298)
  src/lib/components/layout/app-sidebar.tsx
  src/lib/stores/index.ts
  src/lib/stores/tool-pins.ts
Due: frontend-format, frontend-lint

refactor(status-bar): clarify role, accessibility, and stat separation
  src/lib/components/shell/status-bar.tsx
  src/lib/components/template/generate-tab.tsx
Due: none

refactor(status-bar): clarify role, accessibility, and stat separation (#299)
  src/lib/components/shell/status-bar.tsx
  src/lib/components/template/generate-tab.tsx
Due: none

refactor(sidebar): show Recent only in icon-only (collapsed) mode
  src/lib/components/layout/app-sidebar.tsx
Due: none

refactor(sidebar): show Recent only in icon-only (collapsed) mode (#300)
  src/lib/components/layout/app-sidebar.tsx
Due: none

feat(tool-bar): pin/unpin toggle button beside page title
  src/lib/components/shell/tool-bar.tsx
  src/routes/__root.tsx
Due: none

feat(tool-bar): pin/unpin toggle button beside page title (#301)
  src/lib/components/shell/tool-bar.tsx
  src/routes/__root.tsx
Due: none

chore: remove all Svelte references post-React migration
  .claude/rules/css/tailwind.md
  .claude/rules/react/components.md
  .claude/rules/react/layouts.md
  .claude/skills/tauri-dev/SKILL.md
  .gitignore
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  docs/superpowers/plans/2026-05-16-react-migration-phase-1-foundation.md
  docs/superpowers/plans/2026-05-16-react-migration-phase-2-shadcn-ui.md
  docs/superpowers/plans/2026-05-16-react-migration-phase-3-shared-components.md
  docs/superpowers/plans/2026-05-16-react-migration.md
  docs/superpowers/plans/2026-05-17-react-migration-phase-4-zustand.md
  docs/superpowers/plans/2026-05-17-react-migration-phase-5-routes.md
  docs/superpowers/plans/2026-05-17-react-migration-phase-6-cleanup.md
  public/svelte.svg
  scripts/validate-pages.ts
  src/app.css
  src/lib/components/markdown/vizel-react.tsx
  src/lib/services/regex-railroad.ts
Due: frontend-format, frontend-lint

chore: remove all Svelte references post-React migration (#305)
  .claude/rules/css/tailwind.md
  .claude/rules/react/components.md
  .claude/rules/react/layouts.md
  .claude/skills/tauri-dev/SKILL.md
  .gitignore
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  docs/superpowers/plans/2026-05-16-react-migration-phase-1-foundation.md
  docs/superpowers/plans/2026-05-16-react-migration-phase-2-shadcn-ui.md
  docs/superpowers/plans/2026-05-16-react-migration-phase-3-shared-components.md
  docs/superpowers/plans/2026-05-16-react-migration.md
  docs/superpowers/plans/2026-05-17-react-migration-phase-4-zustand.md
  docs/superpowers/plans/2026-05-17-react-migration-phase-5-routes.md
  docs/superpowers/plans/2026-05-17-react-migration-phase-6-cleanup.md
  public/svelte.svg
  scripts/validate-pages.ts
  src/app.css
  src/lib/components/markdown/vizel-react.tsx
  src/lib/services/regex-railroad.ts
Due: frontend-format, frontend-lint

refactor: refine color palette and consolidate rails into single primitive
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/json-format-section.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/panel/index.ts
  src/lib/components/panel/options-panel.tsx
  src/lib/components/shell/index.ts
  src/lib/components/shell/options-rail.tsx
  src/lib/components/shell/tool-shell.tsx
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/convert-tab.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/components/ui/collapsible-aside.tsx
  src/lib/components/ui/rail.tsx
  src/lib/theme/tokens.generated.css
  src/lib/theme/tokens.ts
  src/routes/regex-tester.tsx
  src/routes/url-encoder.tsx
Due: frontend-format, frontend-lint

refactor: refine color palette and consolidate rails into single primitive (#306)
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/json-format-section.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/panel/index.ts
  src/lib/components/panel/options-panel.tsx
  src/lib/components/shell/index.ts
  src/lib/components/shell/options-rail.tsx
  src/lib/components/shell/tool-shell.tsx
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/convert-tab.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/components/ui/collapsible-aside.tsx
  src/lib/components/ui/rail.tsx
  src/lib/theme/tokens.generated.css
  src/lib/theme/tokens.ts
  src/routes/regex-tester.tsx
  src/routes/url-encoder.tsx
Due: frontend-format, frontend-lint

refactor(theme): introduce three-tier chrome hierarchy
  src/lib/components/ui/rail.tsx
  src/lib/theme/tokens.generated.css
  src/lib/theme/tokens.ts
Due: frontend-format, frontend-lint

refactor(theme): introduce three-tier chrome hierarchy (#307)
  src/lib/components/ui/rail.tsx
  src/lib/theme/tokens.generated.css
  src/lib/theme/tokens.ts
Due: frontend-format, frontend-lint

refactor(sidebar): add inline search + minimal polish + internal split
  src/lib/components/layout/app-sidebar.tsx
Due: none

refactor(home): minimal polish + internal component split
  src/routes/index.tsx
Due: none

refactor: redesign sidebar (inline search) and top page (minimal polish) (#308)
  src/lib/components/layout/app-sidebar.tsx
  src/routes/index.tsx
Due: none

chore(gitignore): ignore .superpowers/ brainstorming session artifacts
  .gitignore
Due: none

refactor(formatter-tabs): consolidate format-tab via FormatTabTemplate
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/template/format-tab.tsx
  src/lib/components/template/index.ts
Due: frontend-format, frontend-lint

refactor(formatter-tabs): consolidate format-tab via FormatTabTemplate (#309)
  .gitignore
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/template/format-tab.tsx
  src/lib/components/template/index.ts
Due: frontend-format, frontend-lint

refactor(services): split text-diff into focused modules
  src/lib/services/text-diff.ts
  src/lib/services/text-diff/char-diff.ts
  src/lib/services/text-diff/enhanced-diff.ts
  src/lib/services/text-diff/index.ts
  src/lib/services/text-diff/line-diff.ts
  src/lib/services/text-diff/options.ts
  src/lib/services/text-diff/samples.ts
  src/lib/services/text-diff/styles.ts
  src/lib/services/text-diff/types.ts
Due: frontend-format, frontend-lint

refactor(services): split text-diff into focused modules (#310)
  src/lib/services/text-diff.ts
  src/lib/services/text-diff/char-diff.ts
  src/lib/services/text-diff/enhanced-diff.ts
  src/lib/services/text-diff/index.ts
  src/lib/services/text-diff/line-diff.ts
  src/lib/services/text-diff/options.ts
  src/lib/services/text-diff/samples.ts
  src/lib/services/text-diff/styles.ts
  src/lib/services/text-diff/types.ts
Due: frontend-format, frontend-lint

refactor(services): split encoders into focused modules
  src/lib/services/encoders.ts
  src/lib/services/encoders/base64.ts
  src/lib/services/encoders/hash.ts
  src/lib/services/encoders/index.ts
  src/lib/services/encoders/jwt.ts
  src/lib/services/encoders/url.ts
Due: frontend-format, frontend-lint

refactor(services): split encoders into focused modules (#311)
  src/lib/services/encoders.ts
  src/lib/services/encoders/base64.ts
  src/lib/services/encoders/hash.ts
  src/lib/services/encoders/index.ts
  src/lib/services/encoders/jwt.ts
  src/lib/services/encoders/url.ts
Due: frontend-format, frontend-lint

refactor(network): split discovery into per-protocol modules
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/discovery/arp.rs
  src-tauri/src/network/discovery/coordinator.rs
  src-tauri/src/network/discovery/dns.rs
  src-tauri/src/network/discovery/llmnr_method.rs
  src-tauri/src/network/discovery/mdns.rs
  src-tauri/src/network/discovery/mod.rs
  src-tauri/src/network/discovery/privileges.rs
  src-tauri/src/network/discovery/snmp_method.rs
  src-tauri/src/network/discovery/ssdp.rs
  src-tauri/src/network/discovery/tcp_connect.rs
  src-tauri/src/network/discovery/types.rs
  src-tauri/src/network/discovery/udp_scan.rs
  src-tauri/src/network/discovery/ws.rs
Due: backend-format, backend-lint

refactor(network): split discovery into per-protocol modules (#312)
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/discovery/arp.rs
  src-tauri/src/network/discovery/coordinator.rs
  src-tauri/src/network/discovery/dns.rs
  src-tauri/src/network/discovery/llmnr_method.rs
  src-tauri/src/network/discovery/mdns.rs
  src-tauri/src/network/discovery/mod.rs
  src-tauri/src/network/discovery/privileges.rs
  src-tauri/src/network/discovery/snmp_method.rs
  src-tauri/src/network/discovery/ssdp.rs
  src-tauri/src/network/discovery/tcp_connect.rs
  src-tauri/src/network/discovery/types.rs
  src-tauri/src/network/discovery/udp_scan.rs
  src-tauri/src/network/discovery/ws.rs
Due: backend-format, backend-lint

feat(date-timestamp-converter): add Date / Timestamp Converter tool
  bun.lock
  package.json
  src/lib/components/ui/calendar.tsx
  src/lib/services/date-timestamp.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/date-timestamp-converter.tsx
Due: frontend-format, frontend-lint

feat(date-timestamp-converter): add Date / Timestamp Converter tool (#313)
  bun.lock
  package.json
  src/lib/components/ui/calendar.tsx
  src/lib/services/date-timestamp.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/date-timestamp-converter.tsx
Due: frontend-format, frontend-lint

feat(number-base-converter): add Number Base Converter tool
  src/lib/services/number-base.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/number-base-converter.tsx
Due: frontend-format, frontend-lint

feat(number-base-converter): add Number Base Converter tool (#314)
  src/lib/services/number-base.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/number-base-converter.tsx
Due: frontend-format, frontend-lint

Path conditions:
  frontend-format: any of: *.{ts,js,svelte,json,css,md,html}, but not: node_modules|bun.lock|.svelte-kit
  frontend-lint: any of: *.{ts,js,svelte}, but not: node_modules|.svelte-kit
  backend-format: any of: *.rs and ^src\-tauri/
  backend-lint: any of: *.rs and ^src\-tauri/
