Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

fix(markdown-editor): take the Vizel bubble menu out of the editor flow
  src/lib/components/markdown/vizel-bubble-menu.tsx
Due: none

fix(markdown-editor): take the Vizel bubble menu out of the editor flow (#466)
  src/lib/components/markdown/vizel-bubble-menu.tsx
Due: none

feat(markdown-editor): add a Markdown flavor selector for the Vizel editor
  src/lib/components/markdown/vizel-react.tsx
  src/routes/markdown-editor.tsx
Due: none

feat(markdown-editor): add a Markdown flavor selector for the Vizel editor (#467)
  src/lib/components/markdown/vizel-react.tsx
  src/routes/markdown-editor.tsx
Due: none

feat(markdown-editor): make the sample document follow the selected flavor
  src/lib/services/markdown.ts
  src/routes/markdown-editor.tsx
Due: frontend-format, frontend-lint

feat(markdown-editor): make the sample document follow the selected flavor (#468)
  src/lib/services/markdown.ts
  src/routes/markdown-editor.tsx
Due: frontend-format, frontend-lint

feat(rest-client): add a query parameters tab synced with the URL
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): add a query parameters tab synced with the URL (#469)
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

fix(rest-client): stack tab content below the tab list
  src/routes/rest-client.tsx
Due: none

fix(rest-client): stack tab content below the tab list (#470)
  src/routes/rest-client.tsx
Due: none

feat(rest-client): add an authentication tab
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): add an authentication tab (#471)
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): add request body modes
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): add request body modes (#475)
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): add a response cookies tab
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): add a response cookies tab (#476)
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): toggle the response body between pretty and raw
  src/routes/rest-client.tsx
Due: none

feat(rest-client): import requests from a cURL command
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): report a request timing breakdown
  src-tauri/src/rest_client.rs
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(rest-client): pretty-print XML responses and flag redirects
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): search and download the response body
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): keep a history of sent requests
  src/lib/stores/index.ts
  src/lib/stores/rest-client-history.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint

feat(rest-client): enrich responses with pretty/raw, cURL import, timing, search, and history (#477)
  src-tauri/src/rest_client.rs
  src/lib/services/rest-client.test.ts
  src/lib/services/rest-client.ts
  src/lib/stores/index.ts
  src/lib/stores/rest-client-history.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix(tauri): replace assert! with assert_eq! in hash_batch test
  src-tauri/src/hash_batch.rs
Due: backend-format, backend-lint

fix(tauri): replace assert! with assert_eq! in hash_batch test (#493)
  src-tauri/src/hash_batch.rs
Due: backend-format, backend-lint

build: resolve monaco-editor 0.56 subpath imports
  vite.config.ts
Due: frontend-format, frontend-lint

chore(deps): remove deprecated @types/uuid stub
  bun.lock
  package.json
Due: frontend-format

chore(deps): remove deprecated @types/uuid stub (#496)
  bun.lock
  package.json
Due: frontend-format

fix(tauri): adapt to quick-xml 0.42 and sqlparser 0.63 APIs
  src-tauri/src/ast/sql.rs
  src-tauri/src/network/discovery/ssdp.rs
  src-tauri/src/network/ws_discovery.rs
Due: backend-format, backend-lint
