Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

feat(tauri): hash_text_batch + string_compress backend offload (#369)
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/hash_text.rs
  src-tauri/src/lib.rs
  src-tauri/src/string_compress.rs
  src/lib/services/compression.ts
  src/lib/services/encoders.test.ts
  src/lib/services/encoders/hash.ts
  src/lib/services/encoders/index.ts
  src/lib/services/file-inspect.ts
  src/routes/hash-generator.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

perf(regex-tester): move regexp-tree AST + railroad work to a Web Worker
  src/lib/hooks/index.ts
  src/lib/hooks/use-regex-worker.ts
  src/lib/workers/regex.worker.ts
  src/routes/regex-tester.tsx
Due: frontend-format, frontend-lint

perf(regex-tester): move regexp-tree AST + railroad work to a Web Worker (#370)
  src/lib/hooks/index.ts
  src/lib/hooks/use-regex-worker.ts
  src/lib/workers/regex.worker.ts
  src/routes/regex-tester.tsx
Due: frontend-format, frontend-lint

polish(routes): align wifi-analyzer rail and file-watch picker with project patterns
  src/routes/file-watch.tsx
  src/routes/wifi-analyzer.tsx
Due: none

fix(wifi-analyzer): align table with band selector and correct Bezier curve peak
  src/lib/components/wifi-analyzer/channel-chart.tsx
  src/routes/wifi-analyzer.tsx
Due: none

polish(routes): align wifi-analyzer rail and file-watch picker with project patterns (#371)
  src/lib/components/wifi-analyzer/channel-chart.tsx
  src/routes/file-watch.tsx
  src/routes/wifi-analyzer.tsx
Due: none

refactor(status): add tone variants to EmbeddedEmptyState and close ToolFooter gap
  src/lib/components/status/embedded-empty-state.tsx
  src/lib/components/status/index.ts
  src/routes/diff-viewer.tsx
  src/routes/string-compressor.tsx
Due: frontend-format, frontend-lint

refactor(status): add tone variants to EmbeddedEmptyState and close ToolFooter gap (#373)
  src/lib/components/status/embedded-empty-state.tsx
  src/lib/components/status/index.ts
  src/routes/diff-viewer.tsx
  src/routes/string-compressor.tsx
Due: frontend-format, frontend-lint

fix(wifi-analyzer): keep strong-signal curves inside the chart and let related-rail descriptions wrap
  src/lib/components/layout/related-tools.tsx
  src/lib/services/wifi.ts
Due: frontend-format, frontend-lint

fix(wifi-analyzer): close bell curves on the bottom axis instead of -95 dBm
  src/lib/services/wifi.ts
Due: frontend-format, frontend-lint

fix(wifi-analyzer): keep curves inside the chart, close them on the axis, and wrap related-rail reasons (#374)
  src/lib/components/layout/related-tools.tsx
  src/lib/services/wifi.ts
Due: frontend-format, frontend-lint

refactor(routes): persist base64-encoder and url-encoder options across reload
  src/routes/base64-encoder.tsx
  src/routes/url-encoder.tsx
Due: none

refactor(routes): persist base64-encoder and url-encoder options across reload (#375)
  src/routes/base64-encoder.tsx
  src/routes/url-encoder.tsx
Due: none

refactor(routes): roll out ToolFooter to remaining tool rails
  src/routes/base64-encoder.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/cron-expression-builder.tsx
  src/routes/curl-builder.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/semver-tools.tsx
  src/routes/sql-formatter.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/url-encoder.tsx
  src/routes/uuid-generator.tsx
Due: none

refactor(routes): roll out ToolFooter to remaining tool rails (#381)
  src/routes/base64-encoder.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/cron-expression-builder.tsx
  src/routes/curl-builder.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/semver-tools.tsx
  src/routes/sql-formatter.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/url-encoder.tsx
  src/routes/uuid-generator.tsx
Due: none

fix(x509-decoder): drive the status-bar validity badge
  src/routes/x509-decoder.tsx
Due: none

fix(x509-decoder): drive the status-bar validity badge (#382)
  src/routes/x509-decoder.tsx
Due: none

refactor(encoders): adopt DetectedInfo for detected-state panels
  src/routes/base64-encoder.tsx
  src/routes/url-encoder.tsx
Due: none

refactor(encoders): adopt DetectedInfo for detected-state panels (#383)
  src/routes/base64-encoder.tsx
  src/routes/url-encoder.tsx
Due: none

refactor(routes): normalize output-copy toast wording
  src/routes/base64-encoder.tsx
  src/routes/sql-formatter.tsx
  src/routes/url-encoder.tsx
Due: none

refactor(routes): normalize output-copy toast wording (#384)
  src/routes/base64-encoder.tsx
  src/routes/sql-formatter.tsx
  src/routes/url-encoder.tsx
Due: none

feat(wifi): gate macOS scan on Location Services authorization
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/network/wifi/macos.rs
Due: backend-format, backend-lint

feat(wifi): gate macOS scan on Location Services authorization (#380)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/network/wifi/macos.rs
Due: backend-format, backend-lint

refactor(ui): adopt ToneBadge for certificate expiry badges
  src/routes/tls-inspector.tsx
  src/routes/x509-decoder.tsx
Due: none

refactor(ui): adopt ToneBadge for certificate expiry badges (#386)
  src/routes/tls-inspector.tsx
  src/routes/x509-decoder.tsx
Due: none

refactor(ui): unify copy and paste toast wording
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/utils/file-operations.ts
  src/routes/cidr-calculator.tsx
  src/routes/csv-tool.tsx
  src/routes/date-timestamp-converter.tsx
  src/routes/dns-lookup.tsx
  src/routes/encoding-converter.tsx
  src/routes/file-inspector.tsx
  src/routes/folder-tree-visualizer.tsx
  src/routes/hash-generator.tsx
  src/routes/path-tool.tsx
Due: frontend-format, frontend-lint

refactor(ui): unify copy and paste toast wording (#385)
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/utils/file-operations.ts
  src/routes/cidr-calculator.tsx
  src/routes/csv-tool.tsx
  src/routes/date-timestamp-converter.tsx
  src/routes/dns-lookup.tsx
  src/routes/encoding-converter.tsx
  src/routes/file-inspector.tsx
  src/routes/folder-tree-visualizer.tsx
  src/routes/hash-generator.tsx
  src/routes/path-tool.tsx
Due: frontend-format, frontend-lint

refactor(ui): adopt ToneBadge for drive and file-watch status pills
  src/routes/drive-info.tsx
  src/routes/file-watch.tsx
Due: none

refactor(ui): adopt ToneBadge for drive and file-watch status pills (#387)
  src/routes/drive-info.tsx
  src/routes/file-watch.tsx
Due: none

refactor(ui): adopt ToneBadge for date and cron day status pills
  src/routes/cron-expression-builder.tsx
  src/routes/date-timestamp-converter.tsx
Due: none

refactor(ui): adopt ToneBadge for date and cron day status pills (#388)
  src/routes/cron-expression-builder.tsx
  src/routes/date-timestamp-converter.tsx
Due: none

refactor(ui): adopt ToneBadge for semver bump severity pills
  src/routes/semver-tools.tsx
Due: none

refactor(ui): adopt ToneBadge for semver bump severity pills (#389)
  src/routes/semver-tools.tsx
Due: none

fix(ui): use percentage units for resizable panel default sizes
  src/lib/components/layout/split-pane.tsx
  src/routes/wifi-analyzer.tsx
Due: none

fix(ui): use percentage units for resizable panel default sizes (#390)
  src/lib/components/layout/split-pane.tsx
  src/routes/wifi-analyzer.tsx
Due: none

refactor(ui): adopt DefinitionList for hex-editor and rsa-tools detail grids
  src/routes/hex-editor.tsx
  src/routes/rsa-tools.tsx
Due: none

refactor(ui): adopt DefinitionList for hex-editor and rsa-tools detail grids (#391)
  src/routes/hex-editor.tsx
  src/routes/rsa-tools.tsx
Due: none

refactor(ui): adopt DefinitionList for the archive summary grid
  src/routes/archive-inspector.tsx
Due: none
