Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

refactor(markdown-editor): improve cursor sync with source map based approach
  bun.lock
  package.json
  src/lib/components/editor/tiptap-editor.svelte
Due: frontend-format, frontend-lint

fix(markdown-editor): resolve diagram rendering freeze and display issues
  src/lib/components/editor/tiptap-editor.svelte
Due: frontend-format, frontend-lint

refactor(markdown-editor): rename WYSIWYG to Visual
  src/routes/markdown-editor/+page.svelte
Due: frontend-format, frontend-lint

refactor(markdown-editor): convert editor extensions to Svelte components
  bun.lock
  package.json
  src/lib/components/editor/add-block-button-extension.ts
  src/lib/components/editor/add-block-button-state.svelte.ts
  src/lib/components/editor/add-block-button.svelte
  src/lib/components/editor/floating-language-combobox.svelte
  src/lib/components/editor/index.ts
  src/lib/components/editor/language-combobox.svelte
  src/lib/components/editor/slash-command-extension.ts
  src/lib/components/editor/slash-command-items.ts
  src/lib/components/editor/slash-command-menu.svelte
  src/lib/components/editor/slash-command-state.svelte.ts
  src/lib/components/editor/tiptap-editor.svelte
  src/lib/services/markdown.ts
Due: frontend-format, frontend-lint

feat(markdown-editor): replace language selector with shadcn combobox
  bun.lock
  package.json
  src/lib/components/editor/floating-language-combobox.svelte
  src/lib/components/editor/language-combobox-state.svelte.ts
  src/lib/components/editor/tiptap-editor.svelte
  src/lib/components/ui/command/command-dialog.svelte
  src/lib/components/ui/command/command-empty.svelte
  src/lib/components/ui/command/command-group.svelte
  src/lib/components/ui/command/command-input.svelte
  src/lib/components/ui/command/command-item.svelte
  src/lib/components/ui/command/command-link-item.svelte
  src/lib/components/ui/command/command-list.svelte
  src/lib/components/ui/command/command-loading.svelte
  src/lib/components/ui/command/command-separator.svelte
  src/lib/components/ui/command/command-shortcut.svelte
  src/lib/components/ui/command/command.svelte
  src/lib/components/ui/command/index.ts
  src/lib/components/ui/dialog/dialog-close.svelte
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/dialog/dialog-description.svelte
  src/lib/components/ui/dialog/dialog-footer.svelte
  src/lib/components/ui/dialog/dialog-header.svelte
  src/lib/components/ui/dialog/dialog-overlay.svelte
  src/lib/components/ui/dialog/dialog-portal.svelte
  src/lib/components/ui/dialog/dialog-title.svelte
  src/lib/components/ui/dialog/dialog-trigger.svelte
  src/lib/components/ui/dialog/dialog.svelte
  src/lib/components/ui/dialog/index.ts
  src/lib/components/ui/popover/index.ts
  src/lib/components/ui/popover/popover-close.svelte
  src/lib/components/ui/popover/popover-content.svelte
  src/lib/components/ui/popover/popover-portal.svelte
  src/lib/components/ui/popover/popover-trigger.svelte
  src/lib/components/ui/popover/popover.svelte
Due: frontend-format, frontend-lint

refactor(editor): organize components into code and visual subfolders
  src/lib/components/editor/code/code-editor-wrapper.svelte
  src/lib/components/editor/code/code-editor.svelte
  src/lib/components/editor/code/index.ts
  src/lib/components/editor/code/tree-view.svelte
  src/lib/components/editor/index.ts
  src/lib/components/editor/visual/add-block-button-extension.ts
  src/lib/components/editor/visual/add-block-button-state.svelte.ts
  src/lib/components/editor/visual/add-block-button.svelte
  src/lib/components/editor/visual/floating-language-combobox.svelte
  src/lib/components/editor/visual/index.ts
  src/lib/components/editor/visual/language-combobox-state.svelte.ts
  src/lib/components/editor/visual/language-combobox.svelte
  src/lib/components/editor/visual/slash-command-extension.ts
  src/lib/components/editor/visual/slash-command-items.ts
  src/lib/components/editor/visual/slash-command-menu.svelte
  src/lib/components/editor/visual/slash-command-state.svelte.ts
  src/lib/components/editor/visual/tiptap-editor.svelte
Due: frontend-format, frontend-lint

feat(markdown-editor): add link and image bubble selectors
  bun.lock
  package.json
  src/lib/components/editor/visual/bubble-selector-extension.ts
  src/lib/components/editor/visual/floating-image-selector.svelte
  src/lib/components/editor/visual/floating-link-selector.svelte
  src/lib/components/editor/visual/image-selector-state.svelte.ts
  src/lib/components/editor/visual/index.ts
  src/lib/components/editor/visual/link-selector-state.svelte.ts
  src/lib/components/editor/visual/tiptap-editor.svelte
Due: frontend-format, frontend-lint

fix: update gpg.rs for pgp 0.18.0 API changes
  src-tauri/src/generators/gpg.rs
Due: backend-format, backend-lint

chore: release v0.1.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: frontend-format

chore: release v0.0.5
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: frontend-format

chore: release v0.0.5 (#65)
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: frontend-format

fix(scripts): use --body-file to avoid shell escaping issues in release script
  scripts/release.ts
Due: frontend-format, frontend-lint

ci: increase Node.js heap size to fix OOM during build
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: increase Node.js heap size to fix OOM during build (#66)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: prevent UI freeze during GPG/SSH key generation
  src-tauri/Cargo.lock
  src-tauri/src/lib.rs
Due: backend-format, backend-lint

fix: prevent UI freeze during GPG/SSH key generation (#67)
  src-tauri/Cargo.lock
  src-tauri/src/lib.rs
Due: backend-format, backend-lint

refactor(generators): unify BCrypt/SSH/GPG into single cancellable worker
  scripts/build-sidecar.ts
  src-tauri/Cargo.toml
  src-tauri/src/bin/bcrypt-worker.rs
  src-tauri/src/bin/worker.rs
  src-tauri/src/generators/bcrypt.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/mod.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/generators/worker.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/lib/services/generators.ts
  src/routes/bcrypt-generator/+page.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix(ci): rename bcrypt-worker to worker in CI and capabilities
  .github/actions/build-sidecar/action.yml
  src-tauri/capabilities/default.json
Due: frontend-format

refactor(generators): unify BCrypt/SSH/GPG into single cancellable worker (#68)
  .github/actions/build-sidecar/action.yml
  scripts/build-sidecar.ts
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/bin/bcrypt-worker.rs
  src-tauri/src/bin/worker.rs
  src-tauri/src/generators/bcrypt.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/mod.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/generators/worker.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/lib/services/generators.ts
  src/routes/bcrypt-generator/+page.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: add network scanner with host discovery and port scanning
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/interfaces.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/netbios.rs
  src-tauri/src/network/oui.rs
  src-tauri/src/network/ports.rs
  src-tauri/src/network/scanner.rs
  src-tauri/src/network/types.rs
  src/app.css
  src/lib/components/form/form-checkbox.svelte
  src/lib/services/network-scanner.ts
  src/lib/services/pages.ts
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/discovered-host-detail-panel.svelte
  src/routes/network-scanner/components/discovered-host-list-item.svelte
  src/routes/network-scanner/components/host-detail-panel.svelte
  src/routes/network-scanner/components/host-list-item.svelte
  src/routes/network-scanner/components/host-result-card.svelte
  src/routes/network-scanner/components/index.ts
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
  src/routes/network-scanner/components/unified-host-list-item.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

ci: build net-scanner sidecar binary alongside worker
  .github/actions/build-sidecar/action.yml
Due: none

fix(ci): create all sidecar placeholders before building
  .github/actions/build-sidecar/action.yml
Due: none

chore(deps): add dependency update scripts and update all dependencies
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: frontend-format

chore(deps): add dependency update scripts and update all dependencies (#96)
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: frontend-format

chore(deps): update all frontend and backend dependencies
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: frontend-format

chore(deps): update all frontend and backend dependencies (#100)
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: frontend-format

fix(network): resolve release build errors on all platforms
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/interfaces.rs
Due: backend-format, backend-lint

fix(network): resolve release build errors on all platforms (#101)
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/interfaces.rs
Due: backend-format, backend-lint

fix: add #[cfg(unix)] to TCP SYN scan related items for Windows build
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: add #[cfg(unix)] to TCP SYN scan related items for Windows build (#102)
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: add platform-specific compilation for pnet transport module
  src-tauri/src/bin/net-scanner.rs
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint

fix: add platform-specific compilation for pnet transport module (#103)
  src-tauri/src/bin/net-scanner.rs
  src-tauri/src/network/discovery.rs
Due: backend-format, backend-lint
