Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

feat(duplicate-finder): make the scan cancellable (#412)
  src-tauri/src/cancellation.rs
  src-tauri/src/duplicate_finder.rs
  src-tauri/src/lib.rs
  src/lib/services/duplicate-finder.ts
  src/routes/duplicate-finder.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(folder-tree): make folder scans cancellable
  src-tauri/src/drive_info.rs
  src-tauri/src/folder_tree.rs
  src/lib/services/folder-tree.ts
  src/routes/folder-tree-visualizer.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(folder-tree): make folder scans cancellable (#413)
  src-tauri/src/drive_info.rs
  src-tauri/src/folder_tree.rs
  src/lib/services/folder-tree.ts
  src/routes/folder-tree-visualizer.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(archive): make extraction cancellable
  src-tauri/src/archive_inspect.rs
  src/lib/services/archive.ts
  src/routes/archive-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(archive): make extraction cancellable (#414)
  src-tauri/src/archive_inspect.rs
  src/lib/services/archive.ts
  src/routes/archive-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(file-inspector): make inspection cancellable and run file ops off-thread
  src-tauri/src/file_inspect.rs
  src-tauri/src/hex_editor.rs
  src/lib/services/file-inspect.ts
  src/routes/file-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(file-inspector): make inspection cancellable and run file ops off-thread (#415)
  src-tauri/src/file_inspect.rs
  src-tauri/src/hex_editor.rs
  src/lib/services/file-inspect.ts
  src/routes/file-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

perf(tauri): run remaining heavy commands off the main thread
  src-tauri/src/archive_inspect.rs
  src-tauri/src/duplicate_finder.rs
  src-tauri/src/lib.rs
Due: backend-format, backend-lint

perf(tauri): run remaining heavy commands off the main thread (#416)
  src-tauri/src/archive_inspect.rs
  src-tauri/src/duplicate_finder.rs
  src-tauri/src/lib.rs
Due: backend-format, backend-lint

fix(file-inspector): decode and hash large files off the main thread
  src/lib/hooks/index.ts
  src/lib/hooks/use-file-inspect-worker.ts
  src/lib/services/file-inspect.ts
  src/lib/workers/file-inspect.worker.ts
  src/routes/file-inspector.tsx
Due: frontend-format, frontend-lint

fix(file-inspector): decode and hash large files off the main thread (#417)
  src/lib/hooks/index.ts
  src/lib/hooks/use-file-inspect-worker.ts
  src/lib/services/file-inspect.ts
  src/lib/workers/file-inspect.worker.ts
  src/routes/file-inspector.tsx
Due: frontend-format, frontend-lint

perf(diff-viewer): compute the diff in a Web Worker
  src/lib/hooks/index.ts
  src/lib/hooks/use-diff-worker.ts
  src/lib/workers/diff.worker.ts
  src/routes/diff-viewer.tsx
Due: frontend-format, frontend-lint

perf(diff-viewer): compute the diff in a Web Worker (#418)
  src/lib/hooks/index.ts
  src/lib/hooks/use-diff-worker.ts
  src/lib/workers/diff.worker.ts
  src/routes/diff-viewer.tsx
Due: frontend-format, frontend-lint

perf(encoding-converter): run the conversion pipeline in a Web Worker
  src/lib/hooks/use-encoding-converter-worker.ts
  src/lib/workers/encoding-converter.worker.ts
  src/routes/encoding-converter.tsx
Due: frontend-format, frontend-lint

perf(hex-editor): run byte search in a Web Worker and debounce input
  src/lib/hooks/use-hex-search-worker.ts
  src/lib/workers/hex-search.worker.ts
  src/routes/hex-editor.tsx
Due: frontend-format, frontend-lint

perf(hex-editor): run byte search in a Web Worker and debounce input (#420)
  src/lib/hooks/use-hex-search-worker.ts
  src/lib/workers/hex-search.worker.ts
  src/routes/hex-editor.tsx
Due: frontend-format, frontend-lint

perf(csv-tool): run CSV parse and format in a Web Worker
  src/lib/hooks/use-csv-tool-worker.ts
  src/lib/workers/csv-tool.worker.ts
  src/routes/csv-tool.tsx
Due: frontend-format, frontend-lint

perf(encoding-converter): run the conversion pipeline in a Web Worker (#419)
  src/lib/hooks/use-encoding-converter-worker.ts
  src/lib/workers/encoding-converter.worker.ts
  src/routes/encoding-converter.tsx
Due: frontend-format, frontend-lint

perf(base64-encoder): run encode/decode in a Web Worker
  src/lib/hooks/use-base64-worker.ts
  src/lib/workers/base64.worker.ts
  src/routes/base64-encoder.tsx
Due: frontend-format, frontend-lint

perf(csv-tool): run CSV parse and format in a Web Worker (#421)
  src/lib/hooks/use-csv-tool-worker.ts
  src/lib/workers/csv-tool.worker.ts
  src/routes/csv-tool.tsx
Due: frontend-format, frontend-lint

perf(formatters): debounce the format and compare templates
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/format-tab.tsx
Due: none

perf(base64-encoder): run encode/decode in a Web Worker (#422)
  src/lib/hooks/use-base64-worker.ts
  src/lib/workers/base64.worker.ts
  src/routes/base64-encoder.tsx
Due: frontend-format, frontend-lint

perf(sql-formatter): memoize and debounce the format computation
  src/routes/sql-formatter.tsx
Due: none

perf(markdown-editor): debounce the stats and table-of-contents derivations
  src/routes/markdown-editor.tsx
Due: none

perf(sql-formatter): memoize and debounce the format computation (#424)
  src/routes/sql-formatter.tsx
Due: none

perf(formatters): debounce the format and compare templates (#423)
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/format-tab.tsx
Due: none

perf(folder-tree-visualizer): memoize the export strings
  src/routes/folder-tree-visualizer.tsx
Due: none

perf(folder-tree-visualizer): memoize the export strings (#426)
  src/routes/folder-tree-visualizer.tsx
Due: none

perf(string-compressor): format compressed output off the main thread
  src/lib/hooks/use-compression-worker.ts
  src/lib/services/compression-bytes.ts
  src/lib/services/compression.ts
  src/lib/workers/compression.worker.ts
  src/routes/string-compressor.tsx
Due: frontend-format, frontend-lint

perf(string-compressor): format compressed output off the main thread (#427)
  src/lib/hooks/use-compression-worker.ts
  src/lib/services/compression-bytes.ts
  src/lib/services/compression.ts
  src/lib/workers/compression.worker.ts
  src/routes/string-compressor.tsx
Due: frontend-format, frontend-lint

perf(markdown-editor): debounce the stats and table-of-contents derivations (#425)
  src/routes/markdown-editor.tsx
Due: none

chore: ignore .claude/worktrees to fix Biome nested-config lint error
  .gitignore
Due: none

chore: ignore .claude/worktrees to fix Biome nested-config lint error (#442)
  .gitignore
Due: none

fix(markdown): complete @vizel/core v2 integration
  src/lib/components/markdown/vizel-react.tsx
  src/routes/markdown-editor.tsx
Due: none

chore(deps): update Rust dependencies and adopt RustCrypto digest 0.11
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/duplicate_finder.rs
Due: backend-format, backend-lint

chore(deps): update frontend dependencies to latest non-major versions
  bun.lock
  package.json
Due: frontend-format

chore(deps): migrate @vizel/core to v2
  bun.lock
  package.json
  src/routes/markdown-editor.tsx
Due: frontend-format

refactor(formatter-tabs): use ActionButton in schema tab actions
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
Due: none

chore(deps): update all dependencies to their latest versions (#441)
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/duplicate_finder.rs
  src/lib/components/markdown/vizel-react.tsx
  src/routes/markdown-editor.tsx
Due: frontend-format, backend-format, backend-lint

refactor(formatter-tabs): use ActionButton in schema tab actions (#443)
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
Due: none
