Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

frontend-format:
  run: bun run format --write {staged_files} && git add {staged_files}
  stage_fixed: true

frontend-lint:
  run: bun run biome lint --no-errors-on-unmatched {staged_files}

backend-format:
  run: cargo fmt
  stage_fixed: true

backend-lint:
  run: cargo clippy --all-targets --all-features -- -D warnings

feat(react)(form): port FormError, FormInfo, FormSection scaffolds
  src/lib/components/form/form-error.svelte
  src/lib/components/form/form-error.tsx
  src/lib/components/form/form-info.svelte
  src/lib/components/form/form-info.tsx
  src/lib/components/form/form-section.svelte
  src/lib/components/form/form-section.tsx
  src/lib/components/form/index.ts
Due: frontend-format, frontend-lint

feat(react)(panel): port OptionsPanel, DiffLegend, DiffResults
  src/lib/components/panel/diff-legend.svelte
  src/lib/components/panel/diff-legend.tsx
  src/lib/components/panel/diff-results.svelte
  src/lib/components/panel/diff-results.tsx
  src/lib/components/panel/index.ts
  src/lib/components/panel/options-panel.svelte
  src/lib/components/panel/options-panel.tsx
Due: frontend-format, frontend-lint

feat(react)(status): port 8 status components
  src/lib/components/status/detected-info.svelte
  src/lib/components/status/detected-info.tsx
  src/lib/components/status/embedded-empty-state.svelte
  src/lib/components/status/embedded-empty-state.tsx
  src/lib/components/status/empty-state.svelte
  src/lib/components/status/empty-state.tsx
  src/lib/components/status/error-display.svelte
  src/lib/components/status/error-display.tsx
  src/lib/components/status/index.ts
  src/lib/components/status/loading-overlay.svelte
  src/lib/components/status/loading-overlay.tsx
  src/lib/components/status/stat-item.svelte
  src/lib/components/status/stat-item.tsx
  src/lib/components/status/status-badge.svelte
  src/lib/components/status/status-badge.tsx
  src/lib/components/status/validity-badge.svelte
  src/lib/components/status/validity-badge.tsx
Due: frontend-format, frontend-lint

feat(react)(action): port ActionButton, CopyButton, ResultBlock
  src/lib/components/action/action-button.svelte
  src/lib/components/action/action-button.tsx
  src/lib/components/action/copy-button.svelte
  src/lib/components/action/copy-button.tsx
  src/lib/components/action/index.ts
  src/lib/components/action/result-block.svelte
  src/lib/components/action/result-block.tsx
Due: frontend-format, frontend-lint

feat(react)(form): port remaining 7 Form wrappers
  src/lib/components/form/form-checkbox-group.svelte
  src/lib/components/form/form-checkbox-group.tsx
  src/lib/components/form/form-checkbox.svelte
  src/lib/components/form/form-checkbox.tsx
  src/lib/components/form/form-input.svelte
  src/lib/components/form/form-input.tsx
  src/lib/components/form/form-mode.svelte
  src/lib/components/form/form-mode.tsx
  src/lib/components/form/form-select.svelte
  src/lib/components/form/form-select.tsx
  src/lib/components/form/form-slider.svelte
  src/lib/components/form/form-slider.tsx
  src/lib/components/form/form-textarea.svelte
  src/lib/components/form/form-textarea.tsx
  src/lib/components/form/index.ts
Due: frontend-format, frontend-lint

feat(react)(regex): port PatternEditor, RailroadView
  src/lib/components/regex/index.ts
  src/lib/components/regex/pattern-editor.svelte
  src/lib/components/regex/pattern-editor.tsx
  src/lib/components/regex/railroad-view.svelte
  src/lib/components/regex/railroad-view.tsx
Due: frontend-format, frontend-lint

feat(react)(shell): port ToolShell, ToolBar, StatusBar, OptionsRail
  src/lib/components/shell/index.ts
  src/lib/components/shell/options-rail.svelte
  src/lib/components/shell/options-rail.tsx
  src/lib/components/shell/status-bar.svelte
  src/lib/components/shell/status-bar.tsx
  src/lib/components/shell/tool-bar.svelte
  src/lib/components/shell/tool-bar.tsx
  src/lib/components/shell/tool-shell.svelte
  src/lib/components/shell/tool-shell.tsx
Due: frontend-format, frontend-lint

feat(react)(template): port CompareTab, ConvertTab, TabbedFormatterPage
  src/lib/components/template/compare-tab.svelte
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/convert-tab.svelte
  src/lib/components/template/convert-tab.tsx
  src/lib/components/template/index.ts
  src/lib/components/template/tabbed-formatter-page.svelte
  src/lib/components/template/tabbed-formatter-page.tsx
Due: frontend-format, frontend-lint

feat(react)(layout): port 8 layout components
  src/lib/components/layout/app-sidebar.svelte
  src/lib/components/layout/app-sidebar.tsx
  src/lib/components/layout/index.ts
  src/lib/components/layout/keyboard-shortcuts-dialog.svelte
  src/lib/components/layout/keyboard-shortcuts-dialog.tsx
  src/lib/components/layout/nav-buttons.svelte
  src/lib/components/layout/nav-buttons.tsx
  src/lib/components/layout/section-header.svelte
  src/lib/components/layout/section-header.tsx
  src/lib/components/layout/section-label.svelte
  src/lib/components/layout/section-label.tsx
  src/lib/components/layout/split-pane.svelte
  src/lib/components/layout/split-pane.tsx
  src/lib/components/layout/title-bar-command.svelte
  src/lib/components/layout/title-bar-command.tsx
  src/lib/components/layout/title-bar.svelte
  src/lib/components/layout/title-bar.tsx
Due: frontend-format, frontend-lint

feat(react)(editor): port CodeEditor, CodeEditorWrapper, TreeView
  src/lib/components/editor/code/code-editor-wrapper.svelte
  src/lib/components/editor/code/code-editor-wrapper.tsx
  src/lib/components/editor/code/code-editor.svelte
  src/lib/components/editor/code/code-editor.tsx
  src/lib/components/editor/code/index.ts
  src/lib/components/editor/code/tree-view.svelte
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/editor/index.ts
Due: frontend-format, frontend-lint

feat(react)(hooks): port useFormatterPage; drop SvelteKit imports
  src/lib/components/template/convert-tab.tsx
  src/lib/components/template/tabbed-formatter-page.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-formatter-page.svelte.ts
  src/lib/hooks/use-formatter-page.ts
  src/lib/services/ast/parser.ts
Due: frontend-format, frontend-lint

chore(react): sweep remaining .svelte.ts utility hooks
  src/lib/hooks/is-mobile.svelte.ts
  src/lib/services/navigation-history.svelte.ts
  src/lib/services/persisted.svelte.ts
  src/lib/utils/use-clipboard.svelte.ts
  src/lib/utils/use-editor-sync.svelte.ts
  src/lib/utils/use-tab-sync.svelte.ts
Due: frontend-format, frontend-lint

docs(react)(plan): author Phase 4 Zustand stores plan
  docs/superpowers/plans/2026-05-17-react-migration-phase-4-zustand.md
Due: frontend-format

docs(react)(plan): author Phase 5 route migration plan
  docs/superpowers/plans/2026-05-17-react-migration-phase-5-routes.md
Due: frontend-format

docs(react)(plan): author Phase 6 cleanup plan
  docs/superpowers/plans/2026-05-17-react-migration-phase-6-cleanup.md
Due: frontend-format

feat(react)(stores): add useSidebarStore
  src/lib/components/layout/app-sidebar.tsx
  src/lib/stores/index.ts
  src/lib/stores/sidebar.ts
Due: frontend-format, frontend-lint

feat(react)(stores): add useTabStore + wire useFormatterPage
  src/lib/hooks/use-formatter-page.ts
  src/lib/stores/index.ts
  src/lib/stores/tabs.ts
Due: frontend-format, frontend-lint

feat(react)(stores): add createToolOptionsStore factory
  src/lib/stores/tool-options.ts
Due: frontend-format, frontend-lint

chore(react)(stores): add barrel export
  src/lib/stores/index.ts
Due: frontend-format, frontend-lint

feat(react)(hash-generator): port to React
  src/routes/hash-generator.tsx
Due: none

feat(react)(uuid-generator): port to React
  src/routes/uuid-generator.tsx
Due: none

docs(react)(rules): replace .claude/rules/svelte with .claude/rules/react
  .claude/CLAUDE.md
  .claude/rules/react/components.md
  .claude/rules/react/layouts.md
  .claude/rules/svelte/components.md
  .claude/rules/svelte/layouts.md
Due: frontend-format

fix(react): scrub remaining svelte imports from utils and hooks
  src/lib/hooks/index.ts
  src/lib/utils/file-operations.ts
Due: frontend-format, frontend-lint

docs: update README for React 19 stack
  README.md
Due: frontend-format

feat(react)(password-generator): port to React
  src/routes/password-generator.tsx
Due: none

feat(react)(string-case-converter): port to React
  src/routes/string-case-converter.tsx
Due: none

feat(react)(base64-encoder): port to React
  src/routes/base64-encoder.tsx
Due: none

feat(react)(sql-formatter): port to React
  src/routes/sql-formatter.tsx
Due: none

feat(react)(jwt-decoder): port to React
  src/routes/jwt-decoder.tsx
Due: none

feat(react)(settings): port to React
  src/routes/settings.tsx
Due: none

feat(react)(ssh-key-generator): port to React
  src/routes/ssh-key-generator.tsx
Due: none

feat(react)(bcrypt-generator): port to React
  src/routes/bcrypt-generator.tsx
Due: none

feat(react)(gpg-key-generator): port to React
  src/routes/gpg-key-generator.tsx
Due: none

feat(react)(diff-viewer): port to React
  src/routes/diff-viewer.tsx
Due: none

feat(react)(url-encoder): port to React
  src/routes/url-encoder.tsx
Due: none

feat(react)(regex-tester): port to React
  src/routes/regex-tester.tsx
Due: none

feat(react)(qr-code-generator): port to React
  src/routes/qr-code-generator.tsx
Due: none

feat(react)(network-interfaces): port to React
  src/routes/network-interfaces.tsx
Due: none

feat(react)(cron-expression-builder): port to React
  src/routes/cron-expression-builder.tsx
Due: none

feat(react)(curl-builder): port to React
  src/routes/curl-builder.tsx
Due: none

Path conditions:
  frontend-format: any of: *.{ts,js,svelte,json,css,md,html}, but not: node_modules|bun.lock|.svelte-kit
  frontend-lint: any of: *.{ts,js,svelte}, but not: node_modules|.svelte-kit
  backend-format: any of: *.rs and ^src\-tauri/
  backend-lint: any of: *.rs and ^src\-tauri/
