Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

frontend-format:
  run: bun run format --write {staged_files} && git add {staged_files}
  stage_fixed: true

frontend-lint:
  run: bun run biome lint --no-errors-on-unmatched {staged_files}

backend-format:
  run: cargo fmt
  stage_fixed: true

backend-lint:
  run: cargo clippy --all-targets --all-features -- -D warnings

feat(form): extend FormSelect with icon + description per option
  src/lib/components/form/form-select.svelte
  src/lib/services/generators.ts
  src/routes/curl-builder/tabs/build-tab.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/qr-code-generator/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
  src/routes/uuid-generator/+page.svelte
Due: frontend-format, frontend-lint

feat(form): broaden Select enrichment across more tool pages
  src/lib/services/formatters/constants.ts
  src/routes/base64-encoder/+page.svelte
  src/routes/curl-builder/tabs/build-tab.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/json-formatter/tabs/convert-tab.svelte
  src/routes/sql-formatter/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
  src/routes/url-encoder/+page.svelte
  src/routes/uuid-generator/+page.svelte
Due: frontend-format, frontend-lint

feat(form): extend FormSelect with icon + description per option (#216)
  src/lib/components/form/form-select.svelte
  src/lib/services/formatters/constants.ts
  src/lib/services/generators.ts
  src/routes/base64-encoder/+page.svelte
  src/routes/curl-builder/tabs/build-tab.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/json-formatter/tabs/convert-tab.svelte
  src/routes/qr-code-generator/+page.svelte
  src/routes/sql-formatter/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
  src/routes/url-encoder/+page.svelte
  src/routes/uuid-generator/+page.svelte
Due: frontend-format, frontend-lint

feat(layout): replace command-palette dialog with inline title-bar input
  src/lib/components/layout/command-palette.svelte
  src/lib/components/layout/index.ts
  src/lib/components/layout/title-bar-command.svelte
  src/lib/components/layout/title-bar.svelte
  src/routes/+layout.svelte
Due: frontend-format, frontend-lint

fix(layout): prevent page-title wrap in inline command popover
  src/lib/components/layout/title-bar-command.svelte
Due: frontend-format, frontend-lint

feat(layout): replace command-palette dialog with inline title-bar input (#217)
  src/lib/components/layout/command-palette.svelte
  src/lib/components/layout/index.ts
  src/lib/components/layout/title-bar-command.svelte
  src/lib/components/layout/title-bar.svelte
  src/routes/+layout.svelte
Due: frontend-format, frontend-lint

refactor(network): remove net-scanner sidecar
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/src/bin/net-scanner.rs
  src-tauri/src/lib.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/oui.rs
  src-tauri/src/network/privileges.rs
  src-tauri/src/network/sidecar.rs
  src-tauri/src/network/swift_bridge.rs
  src-tauri/swift/NetScannerDaemon/Package.swift
  src-tauri/swift/NetScannerDaemon/Sources/NetScannerDaemon/NetScannerProtocol.swift
  src-tauri/swift/NetScannerDaemon/Sources/NetScannerDaemon/NetScannerService.swift
  src-tauri/swift/NetScannerDaemon/Sources/NetScannerDaemon/main.swift
  src-tauri/tauri.conf.json
  src/lib/services/network-scanner-errors.ts
  src/lib/services/network-scanner.ts
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

ci(build-sidecar): drop net-scanner from sidecar build action
  .github/actions/build-sidecar/action.yml
Due: none

refactor(network): remove net-scanner sidecar (#239)
  .github/actions/build-sidecar/action.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/src/bin/net-scanner.rs
  src-tauri/src/lib.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/oui.rs
  src-tauri/src/network/privileges.rs
  src-tauri/src/network/sidecar.rs
  src-tauri/src/network/swift_bridge.rs
  src-tauri/swift/NetScannerDaemon/Package.swift
  src-tauri/swift/NetScannerDaemon/Sources/NetScannerDaemon/NetScannerProtocol.swift
  src-tauri/swift/NetScannerDaemon/Sources/NetScannerDaemon/NetScannerService.swift
  src-tauri/swift/NetScannerDaemon/Sources/NetScannerDaemon/main.swift
  src-tauri/tauri.conf.json
  src/lib/services/network-scanner-errors.ts
  src/lib/services/network-scanner.ts
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

refactor(network): fix host merge for v4/v6 same-host entries
  src-tauri/src/network/arp_cache.rs
  src-tauri/src/network/discovery.rs
  src/lib/services/network-scanner.test.ts
  src/lib/services/network-scanner.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

refactor(network): fix host merge for v4/v6 same-host entries (#240)
  src-tauri/src/network/arp_cache.rs
  src-tauri/src/network/discovery.rs
  src/lib/services/network-scanner.test.ts
  src/lib/services/network-scanner.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(network): add banner grab, SNMP, and LLMNR discovery methods
  src-tauri/src/network/banner.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/snmp.rs
  src/lib/services/device-classifier.test.ts
  src/lib/services/network-scanner.test.ts
  src/lib/services/network-scanner.ts
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(network): add banner grab, SNMP, and LLMNR discovery methods (#241)
  src-tauri/src/network/banner.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/snmp.rs
  src/lib/services/device-classifier.test.ts
  src/lib/services/network-scanner.test.ts
  src/lib/services/network-scanner.ts
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix(network-scanner): stack interface name and CIDR vertically
  src/routes/network-scanner/+page.svelte
Due: frontend-format, frontend-lint

fix(network-scanner): enable SNMP by default and use shadcn tab design
  src/lib/services/network-scanner.ts
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
Due: frontend-format, frontend-lint

feat(network): add SSDP UDN and WS-D EndpointReference as identity hints
  .gitignore
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/types.rs
  src-tauri/src/network/ws_discovery.rs
  src/lib/services/network-scanner.test.ts
  src/lib/services/network-scanner.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix(scripts): drop net-scanner from build-sidecar.ts
  scripts/build-sidecar.ts
Due: frontend-format, frontend-lint

feat(network): add SSDP UDN and WS-D EndpointReference as identity hints (#242)
  .gitignore
  scripts/build-sidecar.ts
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/types.rs
  src-tauri/src/network/ws_discovery.rs
  src/lib/services/network-scanner.test.ts
  src/lib/services/network-scanner.ts
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
Due: frontend-format, frontend-lint, backend-format, backend-lint

refactor(shell): unify rail width tokens and add edge-strip toggle
  .claude/rules/svelte/layouts.md
  src/app.css
  src/lib/components/panel/options-panel.svelte
  src/lib/components/ui/collapsible-aside/collapsible-aside.svelte
  src/routes/regex-tester/+page.svelte
Due: frontend-format, frontend-lint

refactor(shell): unify rail width tokens and add edge-strip toggle (#243)
  .claude/rules/svelte/layouts.md
  src/app.css
  src/lib/components/panel/options-panel.svelte
  src/lib/components/ui/collapsible-aside/collapsible-aside.svelte
  src/routes/regex-tester/+page.svelte
Due: frontend-format, frontend-lint

refactor(ui): visual baseline polish across all tool pages
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/list-item-button/list-item-button.svelte
  src/routes/base64-encoder/+page.svelte
  src/routes/cron-expression-builder/tabs/build-tab.svelte
  src/routes/curl-builder/tabs/build-tab.svelte
  src/routes/hash-generator/+page.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
  src/routes/network-scanner/components/unified-host-list-item.svelte
  src/routes/password-generator/+page.svelte
  src/routes/qr-code-generator/+page.svelte
  src/routes/sql-formatter/+page.svelte
  src/routes/string-case-converter/+page.svelte
  src/routes/uuid-generator/+page.svelte
  src/routes/yaml-formatter/tabs/format-tab.svelte
Due: frontend-format, frontend-lint

refactor(ui): visual baseline polish across all tool pages (#244)
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/list-item-button/list-item-button.svelte
  src/routes/base64-encoder/+page.svelte
  src/routes/cron-expression-builder/tabs/build-tab.svelte
  src/routes/curl-builder/tabs/build-tab.svelte
  src/routes/hash-generator/+page.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
  src/routes/network-scanner/components/unified-host-list-item.svelte
  src/routes/password-generator/+page.svelte
  src/routes/qr-code-generator/+page.svelte
  src/routes/sql-formatter/+page.svelte
  src/routes/string-case-converter/+page.svelte
  src/routes/uuid-generator/+page.svelte
  src/routes/yaml-formatter/tabs/format-tab.svelte
Due: frontend-format, frontend-lint

refactor(ui): user feedback consistency
  src/app.css
  src/lib/components/form/form-error.svelte
  src/lib/components/form/index.ts
  src/lib/components/ui/button/button.svelte
  src/routes/base64-encoder/+page.svelte
  src/routes/bcrypt-generator/+page.svelte
  src/routes/cron-expression-builder/tabs/build-tab.svelte
  src/routes/cron-expression-builder/tabs/parse-tab.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/json-formatter/tabs/format-tab.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/password-generator/+page.svelte
  src/routes/regex-tester/+page.svelte
  src/routes/sql-formatter/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
  src/routes/url-encoder/+page.svelte
  src/routes/uuid-generator/+page.svelte
  src/routes/xml-formatter/tabs/format-tab.svelte
  src/routes/yaml-formatter/tabs/format-tab.svelte
Due: frontend-format, frontend-lint

refactor(ui): user feedback consistency (#245)
  src/app.css
  src/lib/components/form/form-error.svelte
  src/lib/components/form/index.ts
  src/lib/components/ui/button/button.svelte
  src/routes/base64-encoder/+page.svelte
  src/routes/bcrypt-generator/+page.svelte
  src/routes/cron-expression-builder/tabs/build-tab.svelte
  src/routes/cron-expression-builder/tabs/parse-tab.svelte
  src/routes/gpg-key-generator/+page.svelte
  src/routes/json-formatter/tabs/format-tab.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/password-generator/+page.svelte
  src/routes/regex-tester/+page.svelte
  src/routes/sql-formatter/+page.svelte
  src/routes/ssh-key-generator/+page.svelte
  src/routes/url-encoder/+page.svelte
  src/routes/uuid-generator/+page.svelte
  src/routes/xml-formatter/tabs/format-tab.svelte
  src/routes/yaml-formatter/tabs/format-tab.svelte
Due: frontend-format, frontend-lint

refactor(ui): microinteractions and motion token consolidation
  src/app.css
  src/lib/components/layout/app-sidebar.svelte
  src/lib/components/shell/tool-shell.svelte
  src/lib/components/ui/accordion/accordion-trigger.svelte
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/list-item-button/list-item-button.svelte
  src/lib/components/ui/resizable/resizable-handle.svelte
  src/lib/components/ui/sidebar/sidebar-group-label.svelte
  src/lib/components/ui/sidebar/sidebar.svelte
Due: frontend-format, frontend-lint

refactor(ui): microinteractions and motion token consolidation (#246)
  src/app.css
  src/lib/components/layout/app-sidebar.svelte
  src/lib/components/shell/tool-shell.svelte
  src/lib/components/ui/accordion/accordion-trigger.svelte
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/list-item-button/list-item-button.svelte
  src/lib/components/ui/resizable/resizable-handle.svelte
  src/lib/components/ui/sidebar/sidebar-group-label.svelte
  src/lib/components/ui/sidebar/sidebar.svelte
Due: frontend-format, frontend-lint

refactor(ui): add loading skeletons for in-place async work
  src/lib/components/ui/skeleton/index.ts
  src/lib/components/ui/skeleton/skeleton-card.svelte
  src/lib/components/ui/skeleton/skeleton-row.svelte
  src/routes/network-interfaces/+page.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
Due: frontend-format, frontend-lint

refactor(ui): add loading skeletons for in-place async work (#247)
  src/lib/components/ui/skeleton/index.ts
  src/lib/components/ui/skeleton/skeleton-card.svelte
  src/lib/components/ui/skeleton/skeleton-row.svelte
  src/routes/network-interfaces/+page.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
Due: frontend-format, frontend-lint

refactor(ui): tooltips and inline help for discoverability
  src/lib/components/editor/code/tree-view.svelte
  src/lib/components/form/form-input.svelte
  src/lib/components/layout/keyboard-shortcuts-dialog.svelte
  src/lib/components/layout/nav-buttons.svelte
  src/lib/components/ui/collapsible-aside/collapsible-aside.svelte
  src/lib/components/ui/sidebar/sidebar-trigger.svelte
  src/routes/jwt-decoder/+page.svelte
  src/routes/markdown-editor/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
  src/routes/regex-tester/+page.svelte
  src/routes/url-encoder/+page.svelte
Due: frontend-format, frontend-lint

refactor(ui): tooltips and inline help for discoverability (#248)
  src/lib/components/editor/code/tree-view.svelte
  src/lib/components/form/form-input.svelte
  src/lib/components/layout/keyboard-shortcuts-dialog.svelte
  src/lib/components/layout/nav-buttons.svelte
  src/lib/components/ui/collapsible-aside/collapsible-aside.svelte
  src/lib/components/ui/sidebar/sidebar-trigger.svelte
  src/routes/jwt-decoder/+page.svelte
  src/routes/markdown-editor/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
  src/routes/regex-tester/+page.svelte
  src/routes/url-encoder/+page.svelte
Due: frontend-format, frontend-lint

fix(layout): wrap layout in Tooltip.Provider for TitleBar tooltips
  src/routes/+layout.svelte
Due: frontend-format, frontend-lint

fix(layout): wrap layout in Tooltip.Provider for TitleBar tooltips (#249)
  src/routes/+layout.svelte
Due: frontend-format, frontend-lint

refactor(ui): platform-native polish
  src-tauri/tauri.conf.json
  src/app.css
  src/lib/components/ui/dialog/dialog-overlay.svelte
  src/lib/components/ui/sheet/sheet-overlay.svelte
  src/lib/utils/keyboard.ts
Due: frontend-format, frontend-lint

refactor(ui): platform-native polish (#250)
  src-tauri/tauri.conf.json
  src/app.css
  src/lib/components/ui/dialog/dialog-overlay.svelte
  src/lib/components/ui/sheet/sheet-overlay.svelte
  src/lib/utils/keyboard.ts
Due: frontend-format, frontend-lint

refactor(ui): persist sidebar state, active tabs, and tool options
  src/lib/components/template/tabbed-formatter-page.svelte
  src/lib/hooks/use-formatter-page.svelte.ts
  src/lib/services/persisted.svelte.ts
  src/lib/utils/use-tab-sync.svelte.ts
  src/routes/+layout.svelte
  src/routes/cron-expression-builder/+page.svelte
  src/routes/json-formatter/+page.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/password-generator/+page.svelte
  src/routes/regex-tester/+page.svelte
  src/routes/url-encoder/+page.svelte
  src/routes/uuid-generator/+page.svelte
  src/routes/xml-formatter/+page.svelte
  src/routes/yaml-formatter/+page.svelte
Due: frontend-format, frontend-lint

refactor(ui): persist sidebar state, active tabs, and tool options (#251)
  src/lib/components/template/tabbed-formatter-page.svelte
  src/lib/hooks/use-formatter-page.svelte.ts
  src/lib/services/persisted.svelte.ts
  src/lib/utils/use-tab-sync.svelte.ts
  src/routes/+layout.svelte
  src/routes/cron-expression-builder/+page.svelte
  src/routes/json-formatter/+page.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/password-generator/+page.svelte
  src/routes/regex-tester/+page.svelte
  src/routes/url-encoder/+page.svelte
  src/routes/uuid-generator/+page.svelte
  src/routes/xml-formatter/+page.svelte
  src/routes/yaml-formatter/+page.svelte
Due: frontend-format, frontend-lint

refactor(ui): accessibility polish — WCAG AA, aria-live, focus, colorblind-safe states
  src/app.css
  src/routes/cron-expression-builder/tabs/build-tab.svelte
  src/routes/cron-expression-builder/tabs/parse-tab.svelte
  src/routes/hash-generator/+page.svelte
  src/routes/jwt-decoder/+page.svelte
  src/routes/network-interfaces/+page.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
  src/routes/regex-tester/+page.svelte
Due: frontend-format, frontend-lint

refactor(ui): accessibility polish — WCAG AA, aria-live, focus, colorblind-safe states (#252)
  src/app.css
  src/routes/cron-expression-builder/tabs/build-tab.svelte
  src/routes/cron-expression-builder/tabs/parse-tab.svelte
  src/routes/hash-generator/+page.svelte
  src/routes/jwt-decoder/+page.svelte
  src/routes/network-interfaces/+page.svelte
  src/routes/network-scanner/+page.svelte
  src/routes/network-scanner/components/unified-host-detail-panel.svelte
  src/routes/regex-tester/+page.svelte
Due: frontend-format, frontend-lint

fix(ci): force ~/.cargo/bin onto PATH in build-sidecar action
  .github/actions/build-sidecar/action.yml
Due: none

fix(ci): force ~/.cargo/bin onto PATH in build-sidecar action (#253)
  .github/actions/build-sidecar/action.yml
Due: none

Path conditions:
  frontend-format: any of: *.{ts,js,svelte,json,css,md,html}, but not: node_modules|bun.lock|.svelte-kit
  frontend-lint: any of: *.{ts,js,svelte}, but not: node_modules|.svelte-kit
  backend-format: any of: *.rs and ^src\-tauri/
  backend-lint: any of: *.rs and ^src\-tauri/
