Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

frontend-format:
  run: bun run format --write {staged_files} && git add {staged_files}
  stage_fixed: true

frontend-lint:
  run: bun run biome lint --no-errors-on-unmatched {staged_files}

backend-format:
  run: cargo fmt
  stage_fixed: true

backend-lint:
  run: cargo clippy --all-targets --all-features -- -D warnings

chore: migrate biome to 2.4 schema and clear new errors
  biome.json
  src/routes/diff-viewer.tsx
  src/routes/http-status-codes.tsx
  src/routes/image-converter.tsx
Due: frontend-format

chore: migrate biome to 2.4 schema and clear new errors (#352)
  biome.json
  src/routes/diff-viewer.tsx
  src/routes/http-status-codes.tsx
  src/routes/image-converter.tsx
Due: frontend-format

feat(template): share About + Related across every formatter tab
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/convert-tab.tsx
  src/lib/components/template/format-tab.tsx
  src/lib/components/template/formatter-about.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/components/template/index.ts
  src/lib/components/template/tabbed-formatter-page.tsx
  src/routes/json-formatter.tsx
  src/routes/xml-formatter.tsx
  src/routes/yaml-formatter.tsx
Due: frontend-format, frontend-lint

feat(template): share About + Related across every formatter tab (#354)
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/convert-tab.tsx
  src/lib/components/template/format-tab.tsx
  src/lib/components/template/formatter-about.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/components/template/index.ts
  src/lib/components/template/tabbed-formatter-page.tsx
  src/routes/json-formatter.tsx
  src/routes/xml-formatter.tsx
  src/routes/yaml-formatter.tsx
Due: frontend-format, frontend-lint

refactor(csv-tool): normalize drop-zone copy
  src/routes/csv-tool.tsx
Due: none

refactor(csv-tool): normalize drop-zone copy (#355)
  src/routes/csv-tool.tsx
Due: none

fix(utils): normalize filename extraction across Windows and POSIX
  src/lib/utils/index.ts
  src/lib/utils/path.ts
  src/routes/archive-inspector.tsx
  src/routes/folder-tree-visualizer.tsx
  src/routes/hex-editor.tsx
Due: frontend-format, frontend-lint

fix(utils): normalize filename extraction across Windows and POSIX (#356)
  src/lib/utils/index.ts
  src/lib/utils/path.ts
  src/routes/archive-inspector.tsx
  src/routes/folder-tree-visualizer.tsx
  src/routes/hex-editor.tsx
Due: frontend-format, frontend-lint

fix(duplicate-finder): add Windows hard-link fallback for duplicate replacement
  src-tauri/src/duplicate_finder.rs
  src-tauri/src/lib.rs
  src/lib/services/duplicate-finder.ts
  src/routes/duplicate-finder.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix(duplicate-finder): add Windows hard-link fallback for duplicate replacement (#357)
  src-tauri/src/duplicate_finder.rs
  src-tauri/src/lib.rs
  src/lib/services/duplicate-finder.ts
  src/routes/duplicate-finder.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix(network): harden ARP/NDP parsing with Result propagation and locale-robust MAC validation
  src-tauri/src/network/arp_cache.rs
  src-tauri/src/network/discovery/arp.rs
Due: backend-format, backend-lint

fix(network): harden ARP/NDP parsing with Result propagation and locale-robust MAC validation (#358)
  src-tauri/src/network/arp_cache.rs
  src-tauri/src/network/discovery/arp.rs
Due: backend-format, backend-lint

fix(generators): probe known install locations on Windows for ssh-keygen and gpg
  src-tauri/src/generators/cli.rs
  src/lib/services/generators.ts
  src/routes/gpg-key-generator.tsx
  src/routes/ssh-key-generator.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix(generators): probe known install locations on Windows for ssh-keygen and gpg (#359)
  src-tauri/src/generators/cli.rs
  src/lib/services/generators.ts
  src/routes/gpg-key-generator.tsx
  src/routes/ssh-key-generator.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

ci(release): forward Apple Developer ID secrets to macOS release builds
  .github/workflows/release.yml
  docs/release-signing.md
Due: frontend-format

ci(release): gate Apple Developer ID secrets on macOS runners only
  .github/workflows/release.yml
  docs/release-signing.md
Due: frontend-format

ci(release): forward Apple Developer ID secrets to macOS release builds (#360)
  .github/workflows/release.yml
  docs/release-signing.md
Due: frontend-format

docs: add Mac App Store readiness audit and document daemon scaffold state
  docs/app-store-readiness.md
Due: frontend-format

docs: add Mac App Store readiness audit and document daemon scaffold state (#361)
  docs/app-store-readiness.md
Due: frontend-format

fix(file-inspect): gate Unix permission helpers behind cfg(unix)
  src-tauri/src/file_inspect.rs
Due: backend-format, backend-lint

ci: extend backend matrix to macOS and Windows for compile validation
  .github/workflows/ci.yml
Due: none

ci: add Test Backend aggregator job to satisfy branch protection
  .github/workflows/ci.yml
Due: none

ci: extend backend matrix to macOS and Windows for compile validation (#362)
  .github/workflows/ci.yml
  src-tauri/src/file_inspect.rs
Due: backend-format, backend-lint

chore: remove privileged-helper daemon scaffold
  docs/app-store-readiness.md
  docs/release-signing.md
  scripts/bundle-macos-daemon.sh
  src-tauri/build.rs
  src-tauri/resources/macos/NetScannerDaemon.entitlements
  src-tauri/resources/macos/io.github.seijikohara.kogu.NetScannerDaemon.plist
  src-tauri/swift/KoguHelper/Package.swift
  src-tauri/swift/KoguHelper/Sources/KoguHelper/SMAppServiceBridge.swift
  src-tauri/swift/KoguHelper/Sources/KoguHelper/XPCClient.swift
  src-tauri/swift/KoguHelper/Sources/KoguHelper/include/KoguHelper.h
  src-tauri/swift/KoguHelper/Sources/KoguHelper/include/module.modulemap
Due: frontend-format, backend-format, backend-lint

chore: remove privileged-helper daemon scaffold (#363)
  docs/app-store-readiness.md
  docs/release-signing.md
  scripts/bundle-macos-daemon.sh
  src-tauri/build.rs
  src-tauri/resources/macos/NetScannerDaemon.entitlements
  src-tauri/resources/macos/io.github.seijikohara.kogu.NetScannerDaemon.plist
  src-tauri/swift/KoguHelper/Package.swift
  src-tauri/swift/KoguHelper/Sources/KoguHelper/SMAppServiceBridge.swift
  src-tauri/swift/KoguHelper/Sources/KoguHelper/XPCClient.swift
  src-tauri/swift/KoguHelper/Sources/KoguHelper/include/KoguHelper.h
  src-tauri/swift/KoguHelper/Sources/KoguHelper/include/module.modulemap
Due: frontend-format, backend-format, backend-lint

feat(network): add Wi-Fi scanner backend with macOS and Linux implementations
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/resources/macos/Info.plist
  src-tauri/src/lib.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/wifi/channels.rs
  src-tauri/src/network/wifi/linux.rs
  src-tauri/src/network/wifi/macos.rs
  src-tauri/src/network/wifi/mod.rs
  src-tauri/src/network/wifi/types.rs
  src-tauri/src/network/wifi/windows.rs
  src-tauri/tauri.conf.json
Due: frontend-format, backend-format, backend-lint

fix(wifi/linux): correct zbus Proxy lifetime and uniform error type
  src-tauri/src/network/wifi/linux.rs
  src-tauri/src/network/wifi/windows.rs
Due: backend-format, backend-lint

fix(wifi): resolve cross-platform dead-code and never-type errors
  src-tauri/src/network/wifi/linux.rs
  src-tauri/src/network/wifi/types.rs
  src-tauri/src/network/wifi/windows.rs
Due: backend-format, backend-lint

feat(network): add Wi-Fi scanner backend with macOS and Linux implementations (#364)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/resources/macos/Info.plist
  src-tauri/src/lib.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/wifi/channels.rs
  src-tauri/src/network/wifi/linux.rs
  src-tauri/src/network/wifi/macos.rs
  src-tauri/src/network/wifi/mod.rs
  src-tauri/src/network/wifi/types.rs
  src-tauri/src/network/wifi/windows.rs
  src-tauri/tauri.conf.json
Due: frontend-format, backend-format, backend-lint

feat(wifi-analyzer): add /wifi-analyzer route with channel chart
  bun.lock
  package.json
  src/lib/components/wifi-analyzer/channel-chart.tsx
  src/lib/components/wifi-analyzer/index.ts
  src/lib/services/pages.ts
  src/lib/services/wifi.ts
  src/route-tree.gen.ts
  src/routes/wifi-analyzer.tsx
Due: frontend-format, frontend-lint

feat(wifi-analyzer): add /wifi-analyzer route with channel chart (#365)
  bun.lock
  package.json
  src/lib/components/wifi-analyzer/channel-chart.tsx
  src/lib/components/wifi-analyzer/index.ts
  src/lib/services/pages.ts
  src/lib/services/wifi.ts
  src/route-tree.gen.ts
  src/routes/wifi-analyzer.tsx
Due: frontend-format, frontend-lint

feat(wifi-analyzer): replace placeholder table with sortable network table
  src/lib/components/wifi-analyzer/index.ts
  src/lib/components/wifi-analyzer/network-table.tsx
  src/routes/wifi-analyzer.tsx
Due: frontend-format, frontend-lint

feat(wifi-analyzer): replace placeholder table with sortable network table (#366)
  src/lib/components/wifi-analyzer/index.ts
  src/lib/components/wifi-analyzer/network-table.tsx
  src/routes/wifi-analyzer.tsx
Due: frontend-format, frontend-lint

ci(release): remove Apple env forwarding to unblock release workflow
  .github/workflows/release.yml
  docs/release-signing.md
Due: frontend-format

ci(release): remove Apple env forwarding to unblock release workflow (#367)
  .github/workflows/release.yml
  docs/release-signing.md
Due: frontend-format

feat(hooks): add useDebouncedValue and apply to reactive routes
  src/lib/hooks/index.ts
  src/lib/hooks/use-debounced-value.ts
  src/lib/hooks/use-formatter-page.ts
  src/routes/base64-encoder.tsx
  src/routes/escape-tool.tsx
  src/routes/hash-generator.tsx
  src/routes/http-status-codes.tsx
  src/routes/markdown-editor.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/string-compressor.tsx
  src/routes/url-encoder.tsx
Due: frontend-format, frontend-lint

feat(hooks): add useDebouncedValue and apply to reactive routes (#368)
  src/lib/hooks/index.ts
  src/lib/hooks/use-debounced-value.ts
  src/lib/hooks/use-formatter-page.ts
  src/routes/base64-encoder.tsx
  src/routes/escape-tool.tsx
  src/routes/hash-generator.tsx
  src/routes/http-status-codes.tsx
  src/routes/markdown-editor.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/string-compressor.tsx
  src/routes/url-encoder.tsx
Due: frontend-format, frontend-lint

feat(tauri): hash_text_batch + string_compress backend offload
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/hash_text.rs
  src-tauri/src/lib.rs
  src-tauri/src/string_compress.rs
  src/lib/services/compression.ts
  src/lib/services/encoders.test.ts
  src/lib/services/encoders/hash.ts
  src/lib/services/encoders/index.ts
  src/lib/services/file-inspect.ts
  src/routes/hash-generator.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

Path conditions:
  frontend-format: any of: *.{ts,js,svelte,json,css,md,html}, but not: node_modules|bun.lock|.svelte-kit
  frontend-lint: any of: *.{ts,js,svelte}, but not: node_modules|.svelte-kit
  backend-format: any of: *.rs and ^src\-tauri/
  backend-lint: any of: *.rs and ^src\-tauri/
