Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

feat(react)(xml-formatter): port to React
  src/lib/components/formatter-tabs/xml/compare-tab.tsx
  src/lib/components/formatter-tabs/xml/convert-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/index.ts
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/services/code-generators/types.ts
  src/lib/services/xml-diff.ts
  src/routes/xml-formatter.tsx
Due: frontend-format, frontend-lint

feat(react)(yaml-formatter): port to React
  src/lib/components/formatter-tabs/yaml/compare-tab.tsx
  src/lib/components/formatter-tabs/yaml/convert-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/index.ts
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/services/yaml-diff.ts
  src/routes/yaml-formatter.tsx
Due: frontend-format, frontend-lint

feat(react)(json-formatter): port to React
  src/lib/components/formatter-tabs/json/compare-tab.tsx
  src/lib/components/formatter-tabs/json/convert-tab.tsx
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/index.ts
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/routes/json-formatter.tsx
Due: frontend-format, frontend-lint

feat(react)(markdown-editor): port to React with self-built Vizel wrapper
  bun.lock
  package.json
  src/lib/components/markdown/index.ts
  src/lib/components/markdown/markdown-context-menu-items.tsx
  src/lib/components/markdown/vizel-react.tsx
  src/routes/markdown-editor.tsx
Due: frontend-format, frontend-lint

feat(react)(network-scanner): port to React
  src/lib/components/network-scanner/index.ts
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/components/network-scanner/unified-host-list-item.tsx
  src/routes/network-scanner.tsx
Due: frontend-format, frontend-lint

chore(react): remove placeholder page and primitives dev route
  src/lib/components/system/placeholder-page.tsx
  src/route-tree.gen.ts
  src/routes/index.tsx
  src/routes/primitives.tsx
Due: frontend-format, frontend-lint

docs(react): port project rules from Svelte to React conventions
  .claude/rules/css/tailwind.md
  .claude/rules/general/git.md
  .claude/rules/general/pr.md
  .claude/rules/testing/e2e.md
  .claude/rules/testing/typescript.md
  .claude/rules/typescript.md
Due: frontend-format

chore(deps): remove Svelte-era dependencies after React migration
  bun.lock
  package.json
  tsconfig.json
  vitest.config.ts
Due: frontend-format, frontend-lint

feat(react): wire root layout with TooltipProvider, Toaster, AppSidebar, and TitleBar
  src/routes/__root.tsx
  src/routes/index.tsx
Due: none

fix(react)(formatter): stabilize per-tab stats handlers in useFormatterPage
  src/lib/hooks/use-formatter-page.ts
  src/route-tree.gen.ts
Due: frontend-format, frontend-lint

fix(react)(layout): silence Tauri listen rejection and wire Vizel icon renderer
  src/lib/components/markdown/vizel-react.tsx
  src/routes/__root.tsx
Due: none

fix(react)(ui): correct data-orientation variants, toggle state, textarea bg, and panel sizes
  src/lib/components/form/form-textarea.tsx
  src/lib/components/ui/list-item-button.tsx
  src/lib/components/ui/scroll-area.tsx
  src/lib/components/ui/separator.tsx
  src/lib/components/ui/slider.tsx
  src/lib/components/ui/tabs.tsx
  src/lib/components/ui/toggle-group.tsx
  src/lib/components/ui/toggle.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
Due: none

fix(react)(regex-tester): use aria-pressed for flag toggle active state
  src/routes/regex-tester.tsx
Due: none

fix(react)(ui): pass ResizablePanel sizes as percent strings for v4.11
  src/lib/components/editor/code/code-editor.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
Due: none

refactor(react)(ui): forwardRef primitives, add size prop to FormSlider/FormCheckbox, wrap network-scanner progress grid
  src/lib/components/form/form-checkbox.tsx
  src/lib/components/form/form-slider.tsx
  src/lib/components/ui/checkbox.tsx
  src/lib/components/ui/resizable.tsx
  src/lib/components/ui/select.tsx
  src/lib/components/ui/slider.tsx
  src/lib/components/ui/textarea.tsx
  src/routes/network-scanner.tsx
Due: none

style(react)(routes): use size="compact" for Form* primitives in tool rails
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/routes/base64-encoder.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/diff-viewer.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/sql-formatter.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/string-case-converter.tsx
  src/routes/url-encoder.tsx
  src/routes/uuid-generator.tsx
Due: none

fix(react)(ui): register shadcn custom variants and restore canonical class forms
  src/app.css
  src/lib/components/ui/scroll-area.tsx
  src/lib/components/ui/separator.tsx
  src/lib/components/ui/slider.tsx
  src/lib/components/ui/tabs.tsx
  src/lib/components/ui/toggle-group.tsx
Due: frontend-format

refactor(react)(ui): migrate hand-rolled cards to Card density="compact"
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/components/status/loading-overlay.tsx
  src/routes/network-interfaces.tsx
  src/routes/password-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/uuid-generator.tsx
Due: none

feat(react)(json-formatter): restore JSON input/output variant selectors
  src/lib/components/formatter-tabs/json/compare-tab.tsx
  src/lib/components/formatter-tabs/json/convert-tab.tsx
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/index.ts
  src/lib/components/formatter-tabs/json/json-format-section.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/stores/index.ts
  src/lib/stores/json-formatter-options.ts
  src/routes/json-formatter.tsx
Due: frontend-format, frontend-lint

chore(react): regenerate TanStack Router route tree
  src/route-tree.gen.ts
Due: frontend-format, frontend-lint

fix(ci)(react): drop svelte-kit sync, install esbuild, bump build target
  .github/actions/setup-frontend/action.yml
  bun.lock
  package.json
  vite.config.ts
Due: frontend-format, frontend-lint

style(react)(routes): unify FormCheckbox density inside Options Cards
  src/routes/curl-builder.tsx
Due: none

style(react)(routes): finalize Form* compact density across formatter Compare/Convert tabs and rail-adjacent surfaces
  src/lib/components/formatter-tabs/json/compare-tab.tsx
  src/lib/components/formatter-tabs/json/convert-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/compare-tab.tsx
  src/lib/components/formatter-tabs/xml/convert-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/compare-tab.tsx
  src/lib/components/formatter-tabs/yaml/convert-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/routes/curl-builder.tsx
Due: none

style(react)(ui): unify primitive variants, sizes, and class overrides across routes
  src/routes/gpg-key-generator.tsx
  src/routes/hash-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/ssh-key-generator.tsx
Due: none

feat(react)(ui): add Button toolbar-icon size, Card tonal variants, ButtonGroup primitive, compact FormMode
  src/lib/components/form/form-mode.tsx
  src/lib/components/ui/button-group.tsx
  src/lib/components/ui/button.tsx
  src/lib/components/ui/card.tsx
Due: none

style(react)(routes): apply Stage 1 primitives at call sites + UX cleanup
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/components/status/loading-overlay.tsx
  src/routes/cron-expression-builder.tsx
  src/routes/curl-builder.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/markdown-editor.tsx
  src/routes/qr-code-generator.tsx
  src/routes/regex-tester.tsx
  src/routes/settings.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/url-encoder.tsx
Due: none

fix(react)(ui): FormMode renders 3+ options as one segmented switch
  src/lib/components/form/form-mode.tsx
Due: none

fix(react)(ui): FormMode stacked layout uses outline radio chips, not vertical segmented switch
  src/lib/components/form/form-mode.tsx
Due: none

refactor(react)(form-mode): rewrite on RadioGroup Choice Card pattern
  src/lib/components/form/form-mode.tsx
  src/lib/components/ui/radio-group.tsx
Due: none

refactor(react)(immutability): eliminate all let in favor of const + functional rewrites
  src/lib/components/editor/code/code-editor-wrapper.tsx
  src/lib/components/editor/code/code-editor.tsx
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/markdown/vizel-react.tsx
  src/lib/components/regex/pattern-editor.tsx
  src/lib/services/ast/markdown.ts
  src/lib/services/ast/parser.ts
  src/lib/services/curl.ts
  src/lib/services/device-classifier.ts
  src/lib/services/diagram.ts
  src/lib/services/diff/object-diff.ts
  src/lib/services/encoders.ts
  src/lib/services/formatters/converters/json-to-xml.ts
  src/lib/services/formatters/json/formatter.ts
  src/lib/services/formatters/utils.ts
  src/lib/services/formatters/xml/query.ts
  src/lib/services/markdown-cursor-sync.ts
  src/lib/services/markdown.ts
  src/lib/services/network-interfaces.ts
  src/lib/services/network-scanner.ts
  src/lib/services/platform.ts
  src/lib/services/regex-highlight.ts
  src/lib/services/regex-railroad.ts
  src/lib/services/string-case.ts
  src/lib/services/text-diff.ts
  src/lib/services/xml-diff.ts
  src/routes/diff-viewer.tsx
  src/routes/markdown-editor.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
  src/routes/regex-tester.tsx
  src/routes/string-case-converter.tsx
  tsconfig.json
Due: frontend-format, frontend-lint

refactor(react)(immutability): eliminate all let in favor of const + functional rewrites (#263)
  src/lib/components/editor/code/code-editor-wrapper.tsx
  src/lib/components/editor/code/code-editor.tsx
  src/lib/components/editor/code/tree-view.tsx
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/markdown/vizel-react.tsx
  src/lib/components/regex/pattern-editor.tsx
  src/lib/services/ast/markdown.ts
  src/lib/services/ast/parser.ts
  src/lib/services/curl.ts
  src/lib/services/device-classifier.ts
  src/lib/services/diagram.ts
  src/lib/services/diff/object-diff.ts
  src/lib/services/encoders.ts
  src/lib/services/formatters/converters/json-to-xml.ts
  src/lib/services/formatters/json/formatter.ts
  src/lib/services/formatters/utils.ts
  src/lib/services/formatters/xml/query.ts
  src/lib/services/markdown-cursor-sync.ts
  src/lib/services/markdown.ts
  src/lib/services/network-interfaces.ts
  src/lib/services/network-scanner.ts
  src/lib/services/platform.ts
  src/lib/services/regex-highlight.ts
  src/lib/services/regex-railroad.ts
  src/lib/services/string-case.ts
  src/lib/services/text-diff.ts
  src/lib/services/xml-diff.ts
  src/routes/diff-viewer.tsx
  src/routes/markdown-editor.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
  src/routes/regex-tester.tsx
  src/routes/string-case-converter.tsx
  tsconfig.json
Due: frontend-format, frontend-lint

refactor(react)(ui): finalize ValidityBadge API, drop SectionLabel.title, extract sub-components
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/layout/section-label.tsx
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/components/status/index.ts
  src/lib/components/status/validity-badge.tsx
  src/routes/network-scanner.tsx
  src/routes/regex-tester.tsx
Due: frontend-format, frontend-lint

refactor(react)(ui): finalize ValidityBadge API, drop SectionLabel.title, extract sub-components (#264)
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/layout/section-label.tsx
  src/lib/components/network-scanner/unified-host-detail-panel.tsx
  src/lib/components/status/index.ts
  src/lib/components/status/validity-badge.tsx
  src/routes/network-scanner.tsx
  src/routes/regex-tester.tsx
Due: frontend-format, frontend-lint

fix(tauri)(release): point frontendDist at Vite's dist/ output
  src-tauri/tauri.conf.json
Due: frontend-format

fix(tauri)(release): point frontendDist at Vite's dist/ output (#265)
  src-tauri/tauri.conf.json
Due: frontend-format

fix(tsconfig): include react/react-dom types and src/**/*.ts in compile graph
  tsconfig.json
Due: frontend-format

fix(react)(layout): unlock body when Radix scroll-lock leaks pointer-events
  src/routes/__root.tsx
Due: none
