Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

fix(ci): disable cache-bin to keep cargo rustup proxies intact on macos-latest
  .github/actions/build-sidecar/action.yml
  .github/actions/setup-rust-tauri/action.yml
Due: none

fix(ci): disable cache-bin to keep cargo rustup proxies intact on macos-latest (#254)
  .github/actions/build-sidecar/action.yml
  .github/actions/setup-rust-tauri/action.yml
Due: none

fix(ci): make Bun cache step non-fatal to work around Windows runner death
  .github/actions/setup-frontend/action.yml
Due: none

fix(ci): make Bun cache step non-fatal to work around Windows runner death (#255)
  .github/actions/setup-frontend/action.yml
Due: none

chore(deps): bump cargo dependencies to latest compatible versions
  src-tauri/Cargo.lock
Due: none

chore(deps): bump npm dependencies to latest compatible versions
  bun.lock
  package.json
  src/lib/components/editor/code/code-editor-wrapper.svelte
Due: frontend-format, frontend-lint

chore(deps): bump cargo dependencies to latest compatible versions (#256)
  src-tauri/Cargo.lock
Due: none

chore(deps): bump npm dependencies to latest compatible versions (#257)
  bun.lock
  package.json
  src/lib/components/editor/code/code-editor-wrapper.svelte
Due: frontend-format, frontend-lint

chore(deps): bump cargo deps to majors and swap snmp2 for csnmp
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ast/sql.rs
  src-tauri/src/bin/worker.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/snmp.rs
  src-tauri/src/network/ws_discovery.rs
Due: frontend-format, backend-format, backend-lint

chore(deps): bump cargo deps to majors and swap snmp2 for csnmp (#258)
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ast/sql.rs
  src-tauri/src/bin/worker.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/ssh.rs
  src-tauri/src/network/discovery.rs
  src-tauri/src/network/snmp.rs
  src-tauri/src/network/ws_discovery.rs
Due: frontend-format, backend-format, backend-lint

chore(react): swap dependency manifest from Svelte to React 19
  bun.lock
  package.json
Due: frontend-format

chore(react): rewrite vite.config for React + TanStack Router
  vite.config.js
  vite.config.ts
Due: frontend-format, frontend-lint

chore(react): rewrite tsconfig and biome for React 19 + Vite
  biome.json
  tsconfig.json
Due: frontend-format

chore(react): add React entry index.html + src/main.tsx
  index.html
  public/favicon.png
  public/logo.svg
  public/svelte.svg
  public/tauri.svg
  public/vite.svg
  src/app.html
  src/main.tsx
Due: frontend-format

chore(react): add TanStack Router root layout
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/__root.tsx
Due: frontend-format, frontend-lint

feat(react): add PlaceholderPage component
  src/lib/components/system/placeholder-page.tsx
Due: none

chore(react): remove SvelteKit config and ignore .svelte-kit
  .gitignore
  svelte.config.js
Due: frontend-format, frontend-lint

chore(react): switch check script from svelte-check to tsc
  package.json
Due: frontend-format

chore(react): update validate-pages.ts for .tsx route convention
  scripts/validate-pages.ts
Due: frontend-format, frontend-lint

chore(react): switch audit-design.ts file filter to .tsx
  scripts/audit-design.ts
Due: frontend-format, frontend-lint

chore(react): swap svelte-check for tsc and update glob patterns
  .lefthook.yml
Due: none

chore(react): commit generated route tree and tighten Phase 1 build
  .prettierrc
  biome.json
  src/route-tree.gen.ts
  src/routes/index.tsx
  tsconfig.json
  vite.config.ts
Due: frontend-format, frontend-lint

chore(react): enable erasableSyntaxOnly for TypeScript 7 readiness
  tsconfig.json
Due: frontend-format

docs(react): commit React migration plan files
  .gitignore
  docs/superpowers/plans/2026-05-16-react-migration-phase-1-foundation.md
  docs/superpowers/plans/2026-05-16-react-migration.md
Due: frontend-format

docs(react): add Phase 2 detailed plan (shadcn/ui primitives)
  docs/superpowers/plans/2026-05-16-react-migration-phase-2-shadcn-ui.md
Due: frontend-format

feat(react)(ui): initialize shadcn/ui (Vite + Radix + preset Nova)
  bun.lock
  components.json
  package.json
  src/lib/utils.ts
  src/lib/utils/cn.ts
  src/lib/utils/index.ts
Due: frontend-format, frontend-lint

chore(react): remove @lucide/svelte, switch pages.ts to lucide-react
  bun.lock
  package.json
  src/lib/services/pages.ts
Due: frontend-format, frontend-lint

feat(react)(ui/button): port Button primitive
  src/lib/components/ui/button.tsx
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/button/index.ts
Due: frontend-format, frontend-lint

feat(react)(ui): port label, input, textarea primitives
  src/lib/components/ui/input.tsx
  src/lib/components/ui/input/index.ts
  src/lib/components/ui/input/input.svelte
  src/lib/components/ui/label.tsx
  src/lib/components/ui/label/index.ts
  src/lib/components/ui/label/label.svelte
  src/lib/components/ui/textarea.tsx
  src/lib/components/ui/textarea/index.ts
  src/lib/components/ui/textarea/textarea.svelte
Due: frontend-format, frontend-lint

feat(react)(ui): port checkbox, separator, badge, progress primitives
  src/lib/components/ui/badge.tsx
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/badge/index.ts
  src/lib/components/ui/checkbox.tsx
  src/lib/components/ui/checkbox/checkbox.svelte
  src/lib/components/ui/checkbox/index.ts
  src/lib/components/ui/progress.tsx
  src/lib/components/ui/progress/index.ts
  src/lib/components/ui/progress/progress.svelte
  src/lib/components/ui/separator.tsx
  src/lib/components/ui/separator/index.ts
  src/lib/components/ui/separator/separator.svelte
Due: frontend-format, frontend-lint

feat(react)(ui): port skeleton, alert, slider, toggle, tooltip primitives
  src/lib/components/ui/alert.tsx
  src/lib/components/ui/alert/alert-description.svelte
  src/lib/components/ui/alert/alert-title.svelte
  src/lib/components/ui/alert/alert.svelte
  src/lib/components/ui/alert/index.ts
  src/lib/components/ui/skeleton.tsx
  src/lib/components/ui/skeleton/index.ts
  src/lib/components/ui/skeleton/skeleton-card.svelte
  src/lib/components/ui/skeleton/skeleton-row.svelte
  src/lib/components/ui/skeleton/skeleton.svelte
  src/lib/components/ui/slider.tsx
  src/lib/components/ui/slider/index.ts
  src/lib/components/ui/slider/slider.svelte
  src/lib/components/ui/toggle.tsx
  src/lib/components/ui/toggle/index.ts
  src/lib/components/ui/toggle/toggle.svelte
  src/lib/components/ui/tooltip.tsx
  src/lib/components/ui/tooltip/index.ts
  src/lib/components/ui/tooltip/tooltip-content.svelte
  src/lib/components/ui/tooltip/tooltip-portal.svelte
  src/lib/components/ui/tooltip/tooltip-provider.svelte
  src/lib/components/ui/tooltip/tooltip-trigger.svelte
  src/lib/components/ui/tooltip/tooltip.svelte
Due: frontend-format, frontend-lint

feat(react)(ui): port accordion/collapsible/tabs/toggle-group
  src/lib/components/ui/accordion.tsx
  src/lib/components/ui/accordion/accordion-content.svelte
  src/lib/components/ui/accordion/accordion-item.svelte
  src/lib/components/ui/accordion/accordion-trigger.svelte
  src/lib/components/ui/accordion/accordion.svelte
  src/lib/components/ui/accordion/index.ts
  src/lib/components/ui/collapsible.tsx
  src/lib/components/ui/collapsible/collapsible-content.svelte
  src/lib/components/ui/collapsible/collapsible-trigger.svelte
  src/lib/components/ui/collapsible/collapsible.svelte
  src/lib/components/ui/collapsible/index.ts
  src/lib/components/ui/tabs.tsx
  src/lib/components/ui/tabs/index.ts
  src/lib/components/ui/tabs/tabs-content.svelte
  src/lib/components/ui/tabs/tabs-list.svelte
  src/lib/components/ui/tabs/tabs-trigger.svelte
  src/lib/components/ui/tabs/tabs.svelte
  src/lib/components/ui/toggle-group.tsx
  src/lib/components/ui/toggle-group/index.ts
  src/lib/components/ui/toggle-group/toggle-group-item.svelte
  src/lib/components/ui/toggle-group/toggle-group.svelte
Due: frontend-format, frontend-lint

feat(react)(ui): port scroll-area, resizable, sidebar, sonner
  src/lib/components/ui/resizable.tsx
  src/lib/components/ui/resizable/index.ts
  src/lib/components/ui/resizable/resizable-handle.svelte
  src/lib/components/ui/resizable/resizable-pane-group.svelte
  src/lib/components/ui/scroll-area.tsx
  src/lib/components/ui/scroll-area/index.ts
  src/lib/components/ui/scroll-area/scroll-area-scrollbar.svelte
  src/lib/components/ui/scroll-area/scroll-area.svelte
  src/lib/components/ui/sidebar.tsx
  src/lib/components/ui/sidebar/constants.ts
  src/lib/components/ui/sidebar/context.svelte.ts
  src/lib/components/ui/sidebar/index.ts
  src/lib/components/ui/sidebar/sidebar-content.svelte
  src/lib/components/ui/sidebar/sidebar-footer.svelte
  src/lib/components/ui/sidebar/sidebar-group-action.svelte
  src/lib/components/ui/sidebar/sidebar-group-content.svelte
  src/lib/components/ui/sidebar/sidebar-group-label.svelte
  src/lib/components/ui/sidebar/sidebar-group.svelte
  src/lib/components/ui/sidebar/sidebar-header.svelte
  src/lib/components/ui/sidebar/sidebar-input.svelte
  src/lib/components/ui/sidebar/sidebar-inset.svelte
  src/lib/components/ui/sidebar/sidebar-menu-action.svelte
  src/lib/components/ui/sidebar/sidebar-menu-badge.svelte
  src/lib/components/ui/sidebar/sidebar-menu-button.svelte
  src/lib/components/ui/sidebar/sidebar-menu-item.svelte
  src/lib/components/ui/sidebar/sidebar-menu-skeleton.svelte
  src/lib/components/ui/sidebar/sidebar-menu-sub-button.svelte
  src/lib/components/ui/sidebar/sidebar-menu-sub-item.svelte
  src/lib/components/ui/sidebar/sidebar-menu-sub.svelte
  src/lib/components/ui/sidebar/sidebar-menu.svelte
  src/lib/components/ui/sidebar/sidebar-provider.svelte
  src/lib/components/ui/sidebar/sidebar-rail.svelte
  src/lib/components/ui/sidebar/sidebar-separator.svelte
  src/lib/components/ui/sidebar/sidebar-trigger.svelte
  src/lib/components/ui/sidebar/sidebar.svelte
  src/lib/components/ui/sonner.tsx
  src/lib/components/ui/sonner/index.ts
  src/lib/components/ui/sonner/sonner.svelte
  src/lib/components/ui/tooltip.tsx
Due: frontend-format, frontend-lint

feat(react)(ui): port Kogu-original CollapsibleAside + ListItemButton
  src/lib/components/ui/collapsible-aside.tsx
  src/lib/components/ui/collapsible-aside/collapsible-aside.svelte
  src/lib/components/ui/collapsible-aside/index.ts
  src/lib/components/ui/list-item-button.tsx
  src/lib/components/ui/list-item-button/index.ts
  src/lib/components/ui/list-item-button/list-item-button.svelte
Due: frontend-format, frontend-lint

feat(react)(ui/card): port Card with Kogu density alias
  src/lib/components/ui/card.tsx
  src/lib/components/ui/card/card-action.svelte
  src/lib/components/ui/card/card-content.svelte
  src/lib/components/ui/card/card-description.svelte
  src/lib/components/ui/card/card-footer.svelte
  src/lib/components/ui/card/card-header.svelte
  src/lib/components/ui/card/card-title.svelte
  src/lib/components/ui/card/card.svelte
  src/lib/components/ui/card/index.ts
Due: frontend-format, frontend-lint

feat(react)(dev): add /primitives gallery route to close Phase 2
  bun.lock
  package.json
  src/lib/hooks/use-mobile.ts
  src/route-tree.gen.ts
  src/routes/index.tsx
  src/routes/primitives.tsx
Due: frontend-format, frontend-lint

docs(react)(plan): author Phase 3 shared-components plan
  docs/superpowers/plans/2026-05-16-react-migration-phase-3-shared-components.md
Due: frontend-format
