Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

feat(x509-decoder): add X.509 / PEM Certificate Decoder tool
  bun.lock
  package.json
  src/lib/services/pages.ts
  src/lib/services/x509-samples.ts
  src/lib/services/x509.ts
  src/route-tree.gen.ts
  src/routes/x509-decoder.tsx
Due: frontend-format, frontend-lint

feat(x509-decoder): add X.509 / PEM Certificate Decoder tool (#315)
  bun.lock
  package.json
  src/lib/services/pages.ts
  src/lib/services/x509-samples.ts
  src/lib/services/x509.ts
  src/route-tree.gen.ts
  src/routes/x509-decoder.tsx
Due: frontend-format, frontend-lint

feat(list-comparer): add List Comparer tool with set operations and Venn diagram
  src/lib/services/list-compare.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/list-comparer.tsx
Due: frontend-format, frontend-lint

feat(list-comparer): add List Comparer tool with set operations and Venn diagram (#316)
  src/lib/services/list-compare.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/list-comparer.tsx
Due: frontend-format, frontend-lint

feat(escape-tool): add multi-flavor Escape / Unescape tool
  src/lib/services/escape.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/escape-tool.tsx
Due: frontend-format, frontend-lint

feat(escape-tool): add multi-flavor Escape / Unescape tool (#317)
  src/lib/services/escape.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/escape-tool.tsx
Due: frontend-format, frontend-lint

feat(string-compressor): add GZIP / Brotli String Compressor tool
  bun.lock
  package.json
  src/lib/services/compression.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/string-compressor.tsx
Due: frontend-format, frontend-lint

feat(string-compressor): add GZIP / Brotli String Compressor tool (#319)
  bun.lock
  package.json
  src/lib/services/compression.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/string-compressor.tsx
Due: frontend-format, frontend-lint

fix(x509,calendar): repair X.509 page boot and Calendar grid layout
  bun.lock
  package.json
  src/lib/components/ui/calendar.tsx
  src/lib/services/x509-samples.ts
  src/lib/services/x509.ts
  src/routes/x509-decoder.tsx
Due: frontend-format, frontend-lint

fix(x509,calendar): repair X.509 page boot and Calendar grid layout (#318)
  bun.lock
  package.json
  src/lib/components/ui/calendar.tsx
  src/lib/services/x509-samples.ts
  src/lib/services/x509.ts
  src/routes/x509-decoder.tsx
Due: frontend-format, frontend-lint

feat(image-converter): add Image Converter / Compressor tool
  src/lib/services/image-convert.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/image-converter.tsx
Due: frontend-format, frontend-lint

feat(image-converter): add Image Converter / Compressor tool (#320)
  src/lib/services/image-convert.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/image-converter.tsx
Due: frontend-format, frontend-lint

feat(lorem-ipsum): add Lorem Ipsum Generator tool
  src/lib/services/lorem.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/lorem-ipsum.tsx
Due: frontend-format, frontend-lint

feat(lorem-ipsum): add Lorem Ipsum Generator tool (#321)
  src/lib/services/lorem.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/lorem-ipsum.tsx
Due: frontend-format, frontend-lint

feat(semver-tools): add Semantic Versioning Tools
  bun.lock
  package.json
  src/lib/services/pages.ts
  src/lib/services/semver-tools.ts
  src/route-tree.gen.ts
  src/routes/semver-tools.tsx
Due: frontend-format, frontend-lint

feat(semver-tools): add Semantic Versioning Tools (#322)
  bun.lock
  package.json
  src/lib/services/pages.ts
  src/lib/services/semver-tools.ts
  src/route-tree.gen.ts
  src/routes/semver-tools.tsx
Due: frontend-format, frontend-lint

fix(ci): drop Node.js 20-only awalsh128/cache-apt-pkgs-action
  .github/actions/setup-tauri-deps/action.yml
Due: none

fix(ci): drop Node.js 20-only awalsh128/cache-apt-pkgs-action (#323)
  .github/actions/setup-tauri-deps/action.yml
Due: none

feat(rsa-tools): add RSA Encrypt / Decrypt / Sign / Verify tool
  src/lib/services/pages.ts
  src/lib/services/rsa.ts
  src/route-tree.gen.ts
  src/routes/rsa-tools.tsx
Due: frontend-format, frontend-lint

feat(rsa-tools): add RSA Encrypt / Decrypt / Sign / Verify tool (#324)
  src/lib/services/pages.ts
  src/lib/services/rsa.ts
  src/route-tree.gen.ts
  src/routes/rsa-tools.tsx
Due: frontend-format, frontend-lint

feat(cidr-calculator): add CIDR / Subnet Calculator tool
  src/lib/services/cidr.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/cidr-calculator.tsx
Due: frontend-format, frontend-lint

feat(cidr-calculator): add CIDR / Subnet Calculator tool (#325)
  src/lib/services/cidr.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/cidr-calculator.tsx
Due: frontend-format, frontend-lint

feat(ip-converter): add IPv4 / IPv6 Address Converter tool
  src/lib/services/ip-convert.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/ip-converter.tsx
Due: frontend-format, frontend-lint

feat(ip-converter): add IPv4 / IPv6 Address Converter tool (#327)
  src/lib/services/ip-convert.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/ip-converter.tsx
Due: frontend-format, frontend-lint

fix(form,routes): remove duplicate page titles and stack long FormMode options
  src/lib/components/form/form-mode.tsx
  src/routes/escape-tool.tsx
  src/routes/list-comparer.tsx
  src/routes/semver-tools.tsx
  src/routes/string-compressor.tsx
Due: none

fix(form,routes): remove duplicate page titles and stack long FormMode options (#326)
  src/lib/components/form/form-mode.tsx
  src/routes/escape-tool.tsx
  src/routes/list-comparer.tsx
  src/routes/semver-tools.tsx
  src/routes/string-compressor.tsx
Due: none

feat(mime-types): add MIME Type Explorer tool
  src/lib/services/mime.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/mime-types.tsx
Due: frontend-format, frontend-lint

feat(mime-types): add MIME Type Explorer tool (#329)
  src/lib/services/mime.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/mime-types.tsx
Due: frontend-format, frontend-lint

feat(http-status-codes): add HTTP Status Code Reference tool
  src/lib/services/http-status.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/http-status-codes.tsx
Due: frontend-format, frontend-lint

feat(http-status-codes): add HTTP Status Code Reference tool (#328)
  src/lib/services/http-status.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/http-status-codes.tsx
Due: frontend-format, frontend-lint

feat(mac-lookup): add MAC Address / OUI Lookup tool
  src-tauri/src/lib.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/oui.rs
  src/lib/services/mac.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/mac-lookup.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(mac-lookup): add MAC Address / OUI Lookup tool (#330)
  src-tauri/src/lib.rs
  src-tauri/src/network/mod.rs
  src-tauri/src/network/oui.rs
  src/lib/services/mac.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/mac-lookup.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(rest-client): add HTTP REST Client (MVP)
  src-tauri/src/lib.rs
  src-tauri/src/rest_client.rs
  src/lib/services/pages.ts
  src/lib/services/rest-client.ts
  src/route-tree.gen.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(rest-client): add HTTP REST Client (MVP) (#331)
  src-tauri/src/lib.rs
  src-tauri/src/rest_client.rs
  src/lib/services/pages.ts
  src/lib/services/rest-client.ts
  src/route-tree.gen.ts
  src/routes/rest-client.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(dns-lookup): add DNS Lookup tool (MVP)
  src-tauri/src/dns_lookup.rs
  src-tauri/src/lib.rs
  src/lib/services/dns.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/dns-lookup.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(dns-lookup): add DNS Lookup tool (MVP) (#332)
  src-tauri/src/dns_lookup.rs
  src-tauri/src/lib.rs
  src/lib/services/dns.ts
  src/lib/services/pages.ts
  src/route-tree.gen.ts
  src/routes/dns-lookup.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(websocket-tester): add WebSocket Tester (MVP)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/websocket.rs
  src/lib/services/pages.ts
  src/lib/services/websocket.ts
  src/route-tree.gen.ts
  src/routes/websocket-tester.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(websocket-tester): add WebSocket Tester (MVP) (#334)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/websocket.rs
  src/lib/services/pages.ts
  src/lib/services/websocket.ts
  src/route-tree.gen.ts
  src/routes/websocket-tester.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat(tls-inspector): add SSL / TLS Inspector (MVP)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/tls_inspect.rs
  src/lib/services/pages.ts
  src/lib/services/tls.ts
  src/route-tree.gen.ts
  src/routes/tls-inspector.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix(tls-inspector): apply cargo fmt to satisfy backend check
  src-tauri/src/tls_inspect.rs
Due: backend-format, backend-lint
