Repository seijikohara/kogu: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: '*.{ts,js,svelte,json,css,md,html}'
      exclude: 'node_modules|bun.lock|.svelte-kit'
      run: bun run format --write {staged_files} && git add {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: '*.{ts,js,svelte}'
      exclude: 'node_modules|.svelte-kit'
      run: bun run biome lint --no-errors-on-unmatched {staged_files}

    backend-format:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo fmt
      stage_fixed: true

    backend-lint:
      root: 'src-tauri/'
      glob: '*.rs'
      run: cargo clippy --all-targets --all-features -- -D warnings

refactor(hooks): introduce useClipboardActions and migrate formatter tabs (#280)
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-clipboard-actions.ts
Due: frontend-format, frontend-lint

refactor(utils): consolidate three formatBytes implementations
  src/lib/services/encoders.test.ts
  src/lib/services/encoders.ts
  src/lib/services/formatters/utils.ts
  src/lib/services/network-interfaces.ts
  src/lib/utils/format.ts
  src/lib/utils/index.ts
Due: frontend-format, frontend-lint

refactor(utils): consolidate three formatBytes implementations (#281)
  src/lib/services/encoders.test.ts
  src/lib/services/encoders.ts
  src/lib/services/formatters/utils.ts
  src/lib/services/network-interfaces.ts
  src/lib/utils/format.ts
  src/lib/utils/index.ts
Due: frontend-format, frontend-lint

refactor(layout): introduce InputOutputSplit and migrate 10 callsites
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/layout/index.ts
  src/lib/components/layout/input-output-split.tsx
  src/lib/components/template/convert-tab.tsx
Due: frontend-format, frontend-lint

refactor(layout): introduce InputOutputSplit and migrate 10 callsites (#282)
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/layout/index.ts
  src/lib/components/layout/input-output-split.tsx
  src/lib/components/template/convert-tab.tsx
Due: frontend-format, frontend-lint

refactor(template): introduce GenerateTabTemplate and reduce wrappers ~95%
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/components/template/index.ts
Due: frontend-format, frontend-lint

refactor(template): introduce GenerateTabTemplate and reduce wrappers ~95% (#283)
  src/lib/components/formatter-tabs/json/generate-tab.tsx
  src/lib/components/formatter-tabs/xml/generate-tab.tsx
  src/lib/components/formatter-tabs/yaml/generate-tab.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/components/template/index.ts
Due: frontend-format, frontend-lint

refactor(ui): introduce CodeBlock and migrate 14 hand-rolled code surfaces
  src/lib/components/ui/code-block.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/hash-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/url-encoder.tsx
Due: none

refactor(ui): introduce CodeBlock and migrate 14 hand-rolled code surfaces (#284)
  src/lib/components/ui/code-block.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/hash-generator.tsx
  src/routes/jwt-decoder.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/url-encoder.tsx
Due: none

refactor(utils): introduce getErrorMessage and inline 35 try/catch ternaries
  src/lib/components/formatter-tabs/json/convert-tab.tsx
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/convert-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/convert-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/services/ast/markdown.ts
  src/lib/services/ast/parser.ts
  src/lib/services/cron.ts
  src/lib/services/diagram.ts
  src/lib/services/formatters/json/parser.ts
  src/lib/services/formatters/sql/formatter.ts
  src/lib/services/formatters/yaml/formatter.ts
  src/lib/services/regex-viz.ts
  src/lib/services/regex.ts
  src/lib/utils/errors.ts
  src/lib/utils/index.ts
  src/routes/base64-encoder.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/sql-formatter.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/url-encoder.tsx
  src/routes/uuid-generator.tsx
Due: frontend-format, frontend-lint

refactor(utils): introduce getErrorMessage and inline 35 try/catch ternaries (#285)
  src/lib/components/formatter-tabs/json/convert-tab.tsx
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/convert-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/convert-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/services/ast/markdown.ts
  src/lib/services/ast/parser.ts
  src/lib/services/cron.ts
  src/lib/services/diagram.ts
  src/lib/services/formatters/json/parser.ts
  src/lib/services/formatters/sql/formatter.ts
  src/lib/services/formatters/yaml/formatter.ts
  src/lib/services/regex-viz.ts
  src/lib/services/regex.ts
  src/lib/utils/errors.ts
  src/lib/utils/index.ts
  src/routes/base64-encoder.tsx
  src/routes/bcrypt-generator.tsx
  src/routes/gpg-key-generator.tsx
  src/routes/network-interfaces.tsx
  src/routes/network-scanner.tsx
  src/routes/password-generator.tsx
  src/routes/qr-code-generator.tsx
  src/routes/sql-formatter.tsx
  src/routes/ssh-key-generator.tsx
  src/routes/url-encoder.tsx
  src/routes/uuid-generator.tsx
Due: frontend-format, frontend-lint

refactor(panel): introduce GeneratedListPanel for uuid + password routes
  src/lib/components/panel/generated-list-panel.tsx
  src/lib/components/panel/index.ts
  src/routes/password-generator.tsx
  src/routes/uuid-generator.tsx
Due: frontend-format, frontend-lint

refactor(panel): introduce GeneratedListPanel for uuid + password routes (#286)
  src/lib/components/panel/generated-list-panel.tsx
  src/lib/components/panel/index.ts
  src/routes/password-generator.tsx
  src/routes/uuid-generator.tsx
Due: frontend-format, frontend-lint

refactor(hooks): introduce useReportStats and useValidation, migrate 11 tabs
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-report-stats.ts
  src/lib/hooks/use-validation.ts
Due: frontend-format, frontend-lint

refactor(hooks): introduce useReportStats and useValidation, migrate 11 tabs (#287)
  src/lib/components/formatter-tabs/json/format-tab.tsx
  src/lib/components/formatter-tabs/json/query-tab.tsx
  src/lib/components/formatter-tabs/json/schema-tab.tsx
  src/lib/components/formatter-tabs/xml/format-tab.tsx
  src/lib/components/formatter-tabs/xml/query-tab.tsx
  src/lib/components/formatter-tabs/xml/schema-tab.tsx
  src/lib/components/formatter-tabs/yaml/format-tab.tsx
  src/lib/components/formatter-tabs/yaml/query-tab.tsx
  src/lib/components/formatter-tabs/yaml/schema-tab.tsx
  src/lib/components/template/compare-tab.tsx
  src/lib/components/template/generate-tab.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-report-stats.ts
  src/lib/hooks/use-validation.ts
Due: frontend-format, frontend-lint

chore(deps): drop direct rand_core, route OsRng through ssh_key re-export
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bin/worker.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/ssh.rs
Due: backend-format, backend-lint

chore(deps): drop direct rand_core, route OsRng through ssh_key re-export (#288)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bin/worker.rs
  src-tauri/src/generators/gpg.rs
  src-tauri/src/generators/ssh.rs
Due: backend-format, backend-lint

fix(settings): unfreeze font picker open + improve item readability
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/routes/settings.tsx
Due: backend-format, backend-lint

fix(settings): unfreeze font picker open + improve item readability (#289)
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/routes/settings.tsx
Due: backend-format, backend-lint

refactor(ui): drop ALL CAPS from section labels across primitives
  src/lib/components/editor/code/code-editor.tsx
  src/lib/components/form/form-input.tsx
  src/lib/components/form/form-section.tsx
  src/lib/components/form/form-select.tsx
  src/lib/components/form/form-slider.tsx
  src/lib/components/form/form-textarea.tsx
  src/lib/components/layout/app-sidebar.tsx
  src/lib/components/layout/keyboard-shortcuts-dialog.tsx
  src/lib/components/layout/section-header.tsx
  src/route-tree.gen.ts
Due: frontend-format, frontend-lint

feat(theme): adopt Copper/Brass as brand color across primary tokens
  src/app.css
Due: frontend-format

feat(theme): commit sidebar to panel-style + soften borders + warm tint
  src/app.css
Due: frontend-format

refactor(sidebar): strengthen active state + collapse header to single line
  src/lib/components/layout/app-sidebar.tsx
  src/lib/components/ui/sidebar.tsx
Due: none

refactor(ui): introduce ToneBadge primitive for tone-colored pills
  src/lib/components/ui/tone-badge.tsx
  src/routes/hash-generator.tsx
Due: none

refactor(home): adopt compact density for tool cards
  src/routes/index.tsx
Due: none

refactor(settings): widen font picker scroll area from h-48 to h-72
  src/routes/settings.tsx
Due: none

refactor(copy-button): default to outline variant for visible affordance
  src/lib/components/action/copy-button.tsx
  src/lib/components/panel/generated-list-panel.tsx
  src/routes/network-interfaces.tsx
Due: none

refactor(panel): swap per-item Cards for borderless rows in GeneratedListPanel
  src/lib/components/panel/generated-list-panel.tsx
Due: none

refactor(formatter): surface "paste / sample" hint in empty status bar
  src/routes/json-formatter.tsx
  src/routes/sql-formatter.tsx
  src/routes/xml-formatter.tsx
  src/routes/yaml-formatter.tsx
Due: none

refactor(ui): Tier 1 visual polish + Copper brand color (#290)
  src/app.css
  src/lib/components/action/copy-button.tsx
  src/lib/components/editor/code/code-editor.tsx
  src/lib/components/form/form-input.tsx
  src/lib/components/form/form-section.tsx
  src/lib/components/form/form-select.tsx
  src/lib/components/form/form-slider.tsx
  src/lib/components/form/form-textarea.tsx
  src/lib/components/layout/app-sidebar.tsx
  src/lib/components/layout/keyboard-shortcuts-dialog.tsx
  src/lib/components/layout/section-header.tsx
  src/lib/components/panel/generated-list-panel.tsx
  src/lib/components/ui/sidebar.tsx
  src/lib/components/ui/tone-badge.tsx
  src/route-tree.gen.ts
  src/routes/hash-generator.tsx
  src/routes/index.tsx
  src/routes/json-formatter.tsx
  src/routes/network-interfaces.tsx
  src/routes/settings.tsx
  src/routes/sql-formatter.tsx
  src/routes/xml-formatter.tsx
  src/routes/yaml-formatter.tsx
Due: frontend-format, frontend-lint

revert(theme): drop Copper brand color, keep structural improvements
  src/app.css
Due: frontend-format

refactor(theme): flatten sidebar / rail / toolbar to match dev-tool trend
  src/app.css
Due: frontend-format

refactor(theme): drop Copper + flatten chrome to match dev-tool trend (#291)
  src/app.css
Due: frontend-format

feat(editor): make Monaco theme follow the app's resolved theme
  src/lib/components/editor/code/code-editor-wrapper.tsx
Due: none

feat(settings): add Theme selector (System / Light / Dark)
  src/routes/settings.tsx
Due: none

feat(theme): adopt VS Code Default Modern color palette
  src/app.css
  src/lib/components/layout/title-bar-command.tsx
  src/lib/components/layout/title-bar.tsx
Due: frontend-format

refactor(theme): soften border tokens to match VS Code Modern weight
  src/app.css
Due: frontend-format

fix(editor): drop redundant border on code-editor-wrapper
  src/app.css
  src/lib/components/editor/code/code-editor-wrapper.tsx
Due: frontend-format

feat(theme): theme system + VS Code Default Modern palette (#292)
  src/app.css
  src/lib/components/editor/code/code-editor-wrapper.tsx
  src/lib/components/layout/title-bar-command.tsx
  src/lib/components/layout/title-bar.tsx
  src/routes/settings.tsx
Due: frontend-format

feat(theme): introduce TypeScript-first design token SSOT
  package.json
  scripts/build-tokens.ts
  src/app.css
  src/lib/components/editor/code/code-editor-wrapper.tsx
  src/lib/theme/tokens.generated.css
  src/lib/theme/tokens.ts
Due: frontend-format, frontend-lint
